socket_server.json
[{"id":"9bf169e7.f40178","type":"debug","z":"8b516464.29c998","name":"MSG IN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":260,"wires":[]},{"id":"2ab5aaef.d6bbf6","type":"socketio-in","z":"8b516464.29c998","name":"","server":"da313d96.6de17","rules":[{"v":"message"},{"v":"register service"},{"v":"register client"},{"v":"enter"},{"v":"leave"},{"v":"get history"},{"v":"update talk trick"},{"v":"edit customer name"},{"v":"update notify flag"},{"v":"api log"},{"v":"change customer"}],"x":77.00004577636719,"y":385,"wires":[["7b187e50.dfc17"]]},{"id":"10058743.723439","type":"switch","z":"8b516464.29c998","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"register service","vt":"str"},{"t":"eq","v":"register client","vt":"str"},{"t":"eq","v":"enter","vt":"str"},{"t":"eq","v":"leave","vt":"str"},{"t":"eq","v":"disconnect","vt":"str"},{"t":"eq","v":"disconnecting","vt":"str"},{"t":"eq","v":"get talk trick","vt":"str"},{"t":"eq","v":"get history","vt":"str"},{"t":"eq","v":"update talk trick","vt":"str"},{"t":"eq","v":"edit customer name","vt":"str"},{"t":"eq","v":"update notify flag","vt":"str"},{"t":"eq","v":"api log","vt":"str"},{"t":"eq","v":"change customer","vt":"str"}],"checkall":"false","repair":false,"outputs":14,"x":747,"y":445.99998474121094,"wires":[["3b013c61.fcf2d4"],["5b50e044.55bcc"],[],["5b8c06b9.221668"],["d696187b.edc328"],["d696187b.edc328","c5f8c74d.9c2938"],[],[],["acd6c282.5804a"],["c1b7a524.af3f88"],["d96b638a.b67aa"],["72c672a5.8d5aec"],["31b6c3ec.c6f8ac"],["a24c4cbf.5a2ed"]]},{"id":"1c13584e.2abe18","type":"function","z":"8b516464.29c998","name":"new message","func":"msg.flow_config.time_record.socket_broadcast = Date.now();\n/*msg.payload = {\n username: msg.socketIOStaticProperties.room,\n message: msg.payload\n};*/\n//RED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.emit\", true);\n\nmsg.payload = msg.payload_preserved;\nlet room = msg.socketIOStaticProperties.room_id;\n\n//if(room.split(\"_\")[0].includes(msg.payload.to.id) || msg.payload_preserved.type == 'client'){\nif(!msg.payload_preserved.push || msg.payload_preserved.type == 'client'){\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    if(msg.socketIOStaticProperties===null){\n        node.warn(\"Room id 不見了!\");\n    }\n    msg.room = room;\n    \n    return [msg, null];\n}else{\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1230,"y":840,"wires":[["2ac174b7.f22cec"],["b09125cd.0c4d88"]]},{"id":"539b46bf.c7a428","type":"debug","z":"8b516464.29c998","name":"EVENT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"socketIOEvent","x":740,"y":300,"wires":[]},{"id":"61ea2e5d.6244c","type":"catch","z":"8b516464.29c998","name":"","scope":null,"x":220,"y":220,"wires":[["34f6cc0d.da84c4","991c18f4.606598"]]},{"id":"34f6cc0d.da84c4","type":"debug","z":"8b516464.29c998","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":240,"wires":[]},{"id":"f6ec4f47.ea22d","type":"function","z":"8b516464.29c998","name":"","func":"//node.warn(msg.socketIOEvent+ \" ## \"+JSON.stringify(msg.payload));\nif([\"newListener\",\"disconnecting\"].indexOf(msg.socketIOEvent)==-1){\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":572.3666687011719,"y":446.00001525878906,"wires":[["9bf169e7.f40178","10058743.723439","539b46bf.c7a428"]]},{"id":"5b8c06b9.221668","type":"function","z":"8b516464.29c998","name":"enter room","func":"msg.payload.room_id = \n    msg.payload.client_id + \"_\" + msg.payload.service_id;\nlet room_id = msg.payload.room_id;\n/*{\n    type : Connection.end_point,\n    client_id : Connection.client_id,\n    service_id : Connection.service_id,\n    room_id : \n}*/\nRED.util.setMessageProperty(\n    msg, \"socketIOAddStaticProperties\", \n    {\n        type : msg.payload.type,\n        client_id : msg.payload.client_id,\n        service_id : msg.payload.service_id,\n        room_id : msg.payload.room_id\n    },\n    true);\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nmsg.payload = {\n    room: room_id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["b0f847f7.7b0e28","9dd16c08.7db67","56559773.6b9a88","454b8908.d021e8"]]},{"id":"b0f847f7.7b0e28","type":"socketio-join","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1270,"y":400,"wires":[]},{"id":"d696187b.edc328","type":"function","z":"8b516464.29c998","name":"leave room","func":"let room_id = \"\";\n\n//if(msg.socketIOEvent==\"leave\"){\n//    room_id = msg.payload;\n//}else if(msg.socketIOEvent==\"disconnect\"){\n    room_id = msg.socketIOStaticProperties\n                ?msg.socketIOStaticProperties.room_id\n                :\"\";\n//}\n\nmsg.payload = {\n    room: room_id\n};\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":440,"wires":[["a7556382.cec8b","74be97b0.5796c8","56559773.6b9a88","fd7bea54.cb2a88"]]},{"id":"a7556382.cec8b","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1250,"y":560,"wires":[]},{"id":"3e89809f.56fdd","type":"debug","z":"8b516464.29c998","name":"MSG OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1870,"y":800,"wires":[]},{"id":"9dd16c08.7db67","type":"debug","z":"8b516464.29c998","name":"MSG ENTER","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1268.86669921875,"y":360.23333740234375,"wires":[]},{"id":"74be97b0.5796c8","type":"debug","z":"8b516464.29c998","name":"MSG LEAVE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1240,"y":480,"wires":[]},{"id":"114037f1.4e31b8","type":"inject","z":"8b516464.29c998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":934.0333557128906,"y":216.6667022705078,"wires":[["56559773.6b9a88"]]},{"id":"fe752f37.1905f","type":"debug","z":"8b516464.29c998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1319.0333557128906,"y":216.4167022705078,"wires":[]},{"id":"56559773.6b9a88","type":"function","z":"8b516464.29c998","name":"chat_status","func":"\nvar chat_status = context.get(\"chat_status\");\nchat_status = chat_status!=null ? chat_status : {};\n\nif( typeof msg.payload ==\"number\"){\n    \n    return {\n        payload:chat_status\n    };\n    \n}else{\n    \n    if(msg.payload.room!=null){\n        //node.warn(msg.socketIOEvent + \" \"+ msg.payload.room);\n        if(chat_status[msg.payload.room]==null){\n            chat_status[msg.payload.room]=0;\n        }\n        \n        if(msg.socketIOEvent==\"enter\"){\n            chat_status[msg.payload.room]++;\n        }\n        \n        if(msg.socketIOEvent==\"leave\" || msg.socketIOEvent==\"disconnect\"){\n            chat_status[msg.payload.room]--;\n            chat_status[msg.payload.room] = chat_status[msg.payload.room]<0?0:chat_status[msg.payload.room];\n        }\n        \n        context.set(\"chat_status\",chat_status);\n        \n    }\n}","outputs":1,"noerr":0,"x":1119.0333557128906,"y":216.66668701171875,"wires":[["fe752f37.1905f"]]},{"id":"3830cb20.e81df4","type":"watson-conversation-v1","z":"8b516464.29c998","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":780,"y":880,"wires":[["d8efd662.74c808","b230a29d.32f67","8da87200.e906a"]]},{"id":"181776ed.cc2389","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1880,"y":840,"wires":[]},{"id":"f1de0fa4.0166e","type":"function","z":"8b516464.29c998","name":"Source Type","func":"msg.message_id = UUID();\nmsg.payload_preserved = msg.payload;\nmsg.payload_preserved.message_id = msg.message_id;\n\nif(msg.payload.type==\"client\"){\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\n\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}","outputs":2,"noerr":0,"x":207.1163330078125,"y":861.3331604003906,"wires":[["3d723d31.abd3f2"],["1c13584e.2abe18","7977c4dd.8caf0c"]]},{"id":"d8efd662.74c808","type":"function","z":"8b516464.29c998","name":"","func":"msg.flow_config.time_record.assistant_return = Date.now();\nmsg.payload_preserved.intents = msg.payload.intents;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":740,"wires":[["1fde2456.46152c"]]},{"id":"d37515f4.b63c18","type":"link in","z":"8b516464.29c998","name":"Deal Message - B","links":["3b013c61.fcf2d4","e3ea03c0.9ad9d8"],"x":83.11637878417969,"y":863.2664642333984,"wires":[["f1de0fa4.0166e","a69cdeb4.5e2c5"]]},{"id":"3b013c61.fcf2d4","type":"link out","z":"8b516464.29c998","name":"Deal Message - A","links":["d37515f4.b63c18"],"x":890.1166076660156,"y":261.63336181640625,"wires":[]},{"id":"9e07f0ed.4952a","type":"comment","z":"8b516464.29c998","name":"Config","info":"Node需安裝套件:\n    1.node-red-contrib-socketio\n    2.node-red-node-watson\n    3.node-red-contrib-md5\n    4.node-red-node-mysql\n    5.node-red-contrib-scx-ibmiotapp\n    6.@nickcis/node-red-node-cf-cloudant\n\nConversation:\nHT帳號下=>Develop Assistant\n    https://gateway.watsonplatform.net/assistant/api\n    4003aefc-79f8-4c14-a497-f720829da4f0\n    ZYqZvVngtxaX\n    \n    LexusBot\n    234bf172-8356-42cc-8ec3-cb0a3dc69a0c\n\nVisualRecognition:\n    X 8d97c9225169278094c24bee609f93eb31d33220\n    X BTWdTzZJy6ugm65tGHYzOP1qbNYjFADAO2b3SE8MZC6W\n    l_MaXgfCeFMtffqOCYJSmb8g4Rt3pfALzuvTFiUxzL3v\n","x":70.66673278808594,"y":45.33330535888672,"wires":[]},{"id":"3d723d31.abd3f2","type":"function","z":"8b516464.29c998","name":"Message Type","func":"let payload_preserved = msg.payload_preserved;\n\nif(payload_preserved.message.type==\"text\"){\n    msg.payload = payload_preserved.message.text;\n    //msg.user = payload_preserved.from.id;\n    return [msg,null];\n}else{\n    msg.visual_recog_url = payload_preserved.message.url;\n    \n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":390,"y":780,"wires":[["6ca49716.bfc948"],["5582708b.61112"]]},{"id":"5d01cffd.8ba55","type":"catch","z":"8b516464.29c998","name":"","scope":["c7821e2c.a18a"],"x":540,"y":1260,"wires":[["8822cef0.2e806","fcb0f339.89b2c"]]},{"id":"fcb0f339.89b2c","type":"function","z":"8b516464.29c998","name":"","func":"let output_msg = \"\";\n/*\nif(msg.watsonerror.indexOf(\"Image size limit exceeded\")!=-1){\n    output_msg=\"這張圖太大了啦 看得我眼睛好痠... 能換換嗎?\";\n}else if(msg.watsonerror.indexOf(\"Key is over transaction limit\")!=-1){\n    output_msg=\"我只是個時薪120的工讀生，剛剛我已經辨識完我的工作份量了喔，今天打烊下次請早。\";\n}else if(msg.watsonerror.indexOf(\"service credentials\")!=-1){\n    output_msg=\"抱歉我看不太懂，可以用文字告訴我嗎？\";\n}else{\n    //已知原因有丟gif檔會得到 An undefined server error occurred.\n    output_msg=\"抱歉我看不太懂，可以換張圖片我看看？\";\n}*/\n\nmsg.recognitionResult = output_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1280,"wires":[[]]},{"id":"fae718b6.b20208","type":"link in","z":"8b516464.29c998","name":"Line VisualRecog IN - B","links":["5582708b.61112"],"x":135,"y":1360,"wires":[["2b51e85a.e0af98","3909fd5e.f55a72"]]},{"id":"2b51e85a.e0af98","type":"function","z":"8b516464.29c998","name":"","func":"msg.flow_config.time_record.visualrecog_call = Date.now();\nmsg.payload = msg.visual_recog_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1360,"wires":[["6535e979.0adf68"]]},{"id":"c7821e2c.a18a","type":"visual-recognition-v3","z":"8b516464.29c998","name":"圖片辨識","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":880,"y":1360,"wires":[["a3c1de70.46a1d"]]},{"id":"b9190eab.dc03f","type":"function","z":"8b516464.29c998","name":"","func":"msg.payload_preserved.recognitionResult = msg.recognitionResult;\n\nmsg.payload = msg.recognitionResult;\n//msg.user = msg.payload_preserved.from.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":800,"wires":[["6ca49716.bfc948"]]},{"id":"a9c03faf.0c605","type":"link in","z":"8b516464.29c998","name":"Line VisualRecog OUT - B","links":["400c0e32.ce3b7"],"x":475,"y":840,"wires":[["b9190eab.dc03f"]]},{"id":"5582708b.61112","type":"link out","z":"8b516464.29c998","name":"Line VisualRecog IN - A","links":["fae718b6.b20208"],"x":535,"y":840,"wires":[]},{"id":"b230a29d.32f67","type":"debug","z":"8b516464.29c998","name":"Assistant OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":700,"wires":[]},{"id":"6ca49716.bfc948","type":"function","z":"8b516464.29c998","name":"setting","func":"let workspace = msg.flow_config.watson_config[0];\nmsg.flow_config.time_record.assistant_call = Date.now();\n\nmsg.params = {\n    //alternate_intents: true,\n    timeout: 9*1000,\n    \n    workspace_id: workspace.workspaceId,\n    username: workspace.username,\n    password: workspace.password,\n};\n\nmsg.flow_config.usedWorkspace = workspace.workspaceId;\nmsg.flow_config.usedWatsonName = workspace.name;\n\n\nif(msg.payload == \"\" || msg.payload == null ){\n    msg.payload = \" \";\n} \nmsg.payload = msg.payload.replace(/[\\t\\n\\r]/g,\"\");\n\nmsg.says = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["d71f4e91.3d262","778456d7.bc9778"]]},{"id":"72f1bb4.6f53b44","type":"comment","z":"8b516464.29c998","name":"訊息處理 圖像辨識","info":"因為recog的service讀不到localhost的檔案 \n目前先把檔案內容讀回來","x":168.03335571289062,"y":1240.166748046875,"wires":[]},{"id":"872575d9.d673f8","type":"comment","z":"8b516464.29c998","name":"訊息處理 Assistant","info":"","x":90.41639709472656,"y":766.1664733886719,"wires":[]},{"id":"cc1c9e98.6145","type":"comment","z":"8b516464.29c998","name":"Socket 進入點","info":"","x":99.41671752929688,"y":305.66668701171875,"wires":[]},{"id":"30825af8.46a5d6","type":"comment","z":"8b516464.29c998","name":"Error Handling","info":"","x":114.41671752929688,"y":158.66668701171875,"wires":[]},{"id":"a69cdeb4.5e2c5","type":"debug","z":"8b516464.29c998","name":"Message Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":208.99969482421875,"y":908.9997863769531,"wires":[]},{"id":"3909fd5e.f55a72","type":"debug","z":"8b516464.29c998","name":"Picture Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":1320,"wires":[]},{"id":"d71f4e91.3d262","type":"debug","z":"8b516464.29c998","name":"Go Assistant","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":780,"wires":[]},{"id":"e12c1c0.f9f79e","type":"http request","z":"8b516464.29c998","name":"","method":"GET","ret":"bin","url":"","tls":"","x":550,"y":1360,"wires":[["3ae5eb2.8f7c014"]]},{"id":"6535e979.0adf68","type":"function","z":"8b516464.29c998","name":"","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1360,"wires":[["e12c1c0.f9f79e"]]},{"id":"fc45232e.c8371","type":"link out","z":"8b516464.29c998","name":"DB SELECT - A","links":["a795a27e.22b3b"],"x":1275,"y":1800,"wires":[]},{"id":"a795a27e.22b3b","type":"link in","z":"8b516464.29c998","name":"DB SELECT - B","links":["312974b2.ba862c","fc45232e.c8371","d8fb06af.7d0378","59a3e94.fff9318","624617d5.7a09b8"],"x":75,"y":1720,"wires":[["3ad9e6c2.d7baba"]]},{"id":"3ad9e6c2.d7baba","type":"function","z":"8b516464.29c998","name":"refresh_list","func":"\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties.service_id:service_id;\nservice_id = msg.socketIOStaticProperties?msg.socketIOStaticProperties.service_id:service_id;\n\nlet customer_id = \"all\";\ncustomer_id = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties.client_id:customer_id;\ncustomer_id = msg.socketIOStaticProperties?msg.socketIOStaticProperties.client_id:customer_id;\n\nmsg.topic = \"call sp_select_manager_list('\"+service_id+\"','\"+ customer_id +\"');\";\nmsg.mysql_router = \"refresh_list\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1720,"wires":[["2313a1be.57f2ee"]]},{"id":"69ecdde9.d7c314","type":"mqtt out","z":"8b516464.29c998","name":"","topic":"socket_server_in","qos":"","retain":"","broker":"aef2f1dd.60759","x":550,"y":380,"wires":[]},{"id":"7b187e50.dfc17","type":"function","z":"8b516464.29c998","name":"","func":"\nmsg.flow_config = {\n    //\"HT_API_host\":\"https://nodered-api-lexus-test01.mybluemix.net/ht_api/\",\n    \"HT_API_host\": \"https://htsr.hotaimotor.com.tw/LINEAPI_TEST/Service.asmx/\",\n    \"HT_LineNotifyAPI_host\":\"https://htsr.hotaimotor.com.tw/LINENOTIFYAPI_TEST/LineNotify/\",\n    //\"HT_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/\",\n    \"watson_config\": [{\n        \"name\":\"LexusBot\",\n        // \"workspaceId\": \"2fbeab39-9653-4086-ae5a-d0bdaee01f37\",\n        \"workspaceId\": \"234bf172-8356-42cc-8ec3-cb0a3dc69a0c\",\n        \"username\": \"4003aefc-79f8-4c14-a497-f720829da4f0\",\n        \"password\": \"ZYqZvVngtxaX\"\n    }],\n    \"time_record\":{\n        socket_receive: Date.now()\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":218.4834442138672,"y":385.3833312988281,"wires":[["f6ec4f47.ea22d","f5d7800e.52a14"]]},{"id":"aadd2970.a82a28","type":"mqtt in","z":"8b516464.29c998","name":"","topic":"socket_server_in","qos":"2","broker":"aef2f1dd.60759","x":241.91671752929688,"y":446.9999694824219,"wires":[["1deccf99.35f41","dc0e858d.aff648"]]},{"id":"1deccf99.35f41","type":"function","z":"8b516464.29c998","name":"","func":"\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":414.4834289550781,"y":447.38323974609375,"wires":[["f6ec4f47.ea22d"]]},{"id":"ef1f0ab0.6e5078","type":"function","z":"8b516464.29c998","name":"talk_log","func":"msg.flow_config.time_record.before_db_log = Date.now();\n\nlet message_item = msg.payload;\nlet assistant_ans = {\n    talk_tricks: message_item.talk_tricks,\n    ans_ID: message_item.ans_ID,\n    intents: message_item.intents,\n}\n\n\nlet message_type = message_item.message.type;\nlet content = message_type==\"text\" ? message_item.message.text : message_item.message.url;\ncontent = content.replace(/,/g,\"\\,\").replace(/\"/g,'\\\"');\nlet time = message_item.time;\n\n\nlet intent_str = JSON.stringify(assistant_ans);\nlet recognition_result = message_item.recognitionResult?message_item.recognitionResult:\"\";\n\nlet direction = message_item.type;\nlet from_id = message_item.from.id;\nlet to_id = message_item.to.id;\nlet push = message_item.push;\n\nlet time_record = JSON.stringify(msg.flow_config.time_record);\n\n\nlet sql_cmd = \"call sp_send_message('\"+msg.message_id+\"','\"+message_type+\"','\"+content+\"','\"+intent_str+\"','\"+recognition_result+\"','\"+time+\"','\"+direction+\"','\"+from_id+\"','\"+to_id+\"','\"+push+\"','\"+time_record+\"');\";\nmsg.topic = sql_cmd;\nmsg.mysql_router = \"talk_log\";\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":1680,"wires":[["2313a1be.57f2ee"]]},{"id":"f5d7800e.52a14","type":"debug","z":"8b516464.29c998","name":"TO mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":320,"wires":[]},{"id":"dc0e858d.aff648","type":"debug","z":"8b516464.29c998","name":"FROM mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":435.4167175292969,"y":492.41668701171875,"wires":[]},{"id":"d3b069f4.ff40e8","type":"link in","z":"8b516464.29c998","name":"To DB - B","links":["626df8dc.43b898","eb6327ee.c13ed8"],"x":75,"y":1680,"wires":[["ef1f0ab0.6e5078","21186a42.d9da86"]]},{"id":"626df8dc.43b898","type":"link out","z":"8b516464.29c998","name":"To DB - A","links":["d3b069f4.ff40e8","55d57b29.6ba64c"],"x":1815,"y":880,"wires":[]},{"id":"374eb66.4ed084a","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1710,"y":1820,"wires":[]},{"id":"e3944305.372c2","type":"function","z":"8b516464.29c998","name":"BroadCast List to Room","func":"msg.responsibility_data = msg.responsibility_data || [];\nmsg.payload[0].forEach(function(item){\n   item.notify_data = JSON.parse(item.notify_data); \n});\n\nvar responsibility_data = [];\nmsg.responsibility_data.forEach(function(item){\n    responsibility_data[item.ENCYID] = item;\n})\n\n\nmsg.payload[0] = msg.payload[0].map(function(item){\n\titem.detail = responsibility_data[item.customer_id];\n\treturn item;\n})\n\n\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"update conversation list\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties ? msg.socketIOAddStaticProperties.service_id : service_id;\nservice_id = msg.socketIOStaticProperties ? msg.socketIOStaticProperties.service_id : service_id;\nmsg.room = service_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1820,"wires":[["374eb66.4ed084a"]]},{"id":"991c18f4.606598","type":"debug","z":"8b516464.29c998","name":"###ERROR###","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","x":420,"y":200,"wires":[]},{"id":"5b50e044.55bcc","type":"function","z":"8b516464.29c998","name":"register service","func":"let service_id = msg.payload.service_id;\n\nmsg.socketIOAddStaticProperties = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties:{};\nmsg.socketIOAddStaticProperties.service_id = service_id;\nreturn msg;","outputs":1,"noerr":0,"x":967.9999084472656,"y":340.4000244140625,"wires":[["29505e7.6d530a2","da6813a5.87f19","ccfd1d0b.f8549"]]},{"id":"1a1e23b1.8b563c","type":"socketio-join","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1458.25,"y":321.65008544921875,"wires":[]},{"id":"fcd70f7b.37014","type":"function","z":"8b516464.29c998","name":"register_client","func":"let configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nlet taipei_digi_data = msg.taipei_digi_data.CSINFO[0] ;\nlet lexus_data = msg.lexus_data.USERDATA[0];\nlet personal_data = JSON.stringify({\n    taipei_digi_data: taipei_digi_data,\n    lexus_data: lexus_data\n});\nmsg.topic=\"\";\nif(taipei_digi_data.CRSALR!==\"\"){\n    msg.topic += \"call sp_bind_client('\"+taipei_digi_data.CRSALR+\"','\"+configs.client_id+\"','\"+lexus_data.USERNM+\"','\"+taipei_digi_data.CARNM+\"','\"+taipei_digi_data.LICSNO+\"','\"+taipei_digi_data.PICURL+\"','\"+lexus_data.MOBILE+\"','\"+lexus_data.FENDAT+\"','\"+lexus_data.UENDAT+\"','\"+lexus_data.BIRTHDAY+\"','\"+\"\"+\"','\"+\"\"+\"','\"+\"\"+\"','\"+personal_data+\"',NULL);\";\n}\nif(taipei_digi_data.WHSRVNO!==\"\"){\n    msg.topic += \"call sp_bind_client('\"+taipei_digi_data.WHSRVNO+\"','\"+configs.client_id+\"','\"+lexus_data.USERNM+\"','\"+taipei_digi_data.CARNM+\"','\"+taipei_digi_data.LICSNO+\"','\"+taipei_digi_data.PICURL+\"','\"+lexus_data.MOBILE+\"','\"+lexus_data.FENDAT+\"','\"+lexus_data.UENDAT+\"','\"+lexus_data.BIRTHDAY+\"',NULL,'NULL','NULL','\"+personal_data+\"',NULL);\";\n}\nmsg.mysql_router = \"register_client\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1840,"wires":[["2313a1be.57f2ee"]]},{"id":"d43a8c66.136d5","type":"mqtt out","z":"8b516464.29c998","name":"","topic":"mysql_mqtt","qos":"","retain":"","broker":"aef2f1dd.60759","x":790,"y":1780,"wires":[]},{"id":"c086e4a.bfe9b18","type":"function","z":"8b516464.29c998","name":"","func":"\nreturn {\n    payload:msg\n};","outputs":1,"noerr":0,"x":650,"y":1780,"wires":[["d43a8c66.136d5"]]},{"id":"9a28e484.9aac78","type":"mqtt in","z":"8b516464.29c998","name":"","topic":"mysql_mqtt","qos":"2","broker":"aef2f1dd.60759","x":570,"y":1880,"wires":[["9216b008.dacd3"]]},{"id":"9216b008.dacd3","type":"function","z":"8b516464.29c998","name":"","func":"\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":710,"y":1880,"wires":[[]]},{"id":"d68300b.9f594","type":"link in","z":"8b516464.29c998","name":"Register Client - B","links":["de8f588d.75f628","59cb4741.59b098","60440a51.d3af44"],"x":75,"y":1840,"wires":[["fcd70f7b.37014"]]},{"id":"3804f74f.bc6ce8","type":"link in","z":"8b516464.29c998","name":"Talk Trick  IN - B","links":["1fde2456.46152c","44a153d0.24fd5c"],"x":75,"y":1640,"wires":[["6de64e18.7f9ac"]]},{"id":"1fde2456.46152c","type":"link out","z":"8b516464.29c998","name":"Talk Trick  IN - A","links":["3804f74f.bc6ce8"],"x":1095,"y":760,"wires":[]},{"id":"966c7963.d706a8","type":"link in","z":"8b516464.29c998","name":"Talk Trick  OUT - B","links":["5c79e4f8.51dbec","b4b8e47a.614278","7e523fbc.fd8cb"],"x":1095,"y":800,"wires":[["1c13584e.2abe18"]]},{"id":"b4b8e47a.614278","type":"link out","z":"8b516464.29c998","name":"Talk Trick  OUT - A","links":["966c7963.d706a8"],"x":1455,"y":1780,"wires":[]},{"id":"faf94e72.a8802","type":"comment","z":"8b516464.29c998","name":"DB dealing","info":"","x":90,"y":1520,"wires":[]},{"id":"20d300b6.cf469","type":"link in","z":"8b516464.29c998","name":"Get History - B","links":["acd6c282.5804a"],"x":75,"y":1560,"wires":[["a1d7b8c3.baf848"]]},{"id":"8efcc25e.6cdef","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1570,"y":1720,"wires":[]},{"id":"63281b9a.abf464","type":"function","z":"8b516464.29c998","name":"BroadCast Oneself","func":"\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"get history\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n\nlet conversations = msg.payload[0].map(function(item){\n    let assistant_ans = item.assistant_ans && item.assistant_ans!=\"\" ?JSON.parse(item.assistant_ans):{};\n    \n    return {\n        \"type\": item.direction_type,\n        \"from\": {\n            \"id\": item.from,\n            \"avator\": item.avator,\n            \"name\": item.name\n        },\n        \"to\": {\n            \"id\": item.to,\n        },\n        \"message_id\":item.message_id,\n        \"time\": new Date(item.time).getTime(),\n        \"intents\":assistant_ans.intents,\n        \"ans_ID\":assistant_ans.ans_ID,\n        \"talk_tricks\":assistant_ans.talk_tricks,\n        \"recognitionResult\":item.visualrecog_ans,\n        \"message\": {\n            \"type\": item.message_type,\n            \"text\": (item.message_type==\"text\"?item.content:null),\n            \"url\": (item.message_type==\"image\"?item.content:null)\n        }\n    };\n});\n\n\nmsg.payload={\n    req_para:msg.ori_paylaod,\n    data: conversations\n};\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties ? msg.socketIOAddStaticProperties.service_id : service_id;\nservice_id = msg.socketIOStaticProperties ? msg.socketIOStaticProperties.service_id : service_id;\nmsg.room = service_id;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1720,"wires":[["8efcc25e.6cdef"]]},{"id":"acd6c282.5804a","type":"link out","z":"8b516464.29c998","name":"Get History - A","links":["20d300b6.cf469"],"x":895,"y":500,"wires":[]},{"id":"a2728fcd.e04da","type":"inject","z":"8b516464.29c998","name":"","topic":"","payload":"mqtt_test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":610,"y":40,"wires":[["2ee50fe5.4693f","a360be92.482e8"]]},{"id":"7ead52da.ddb0fc","type":"debug","z":"8b516464.29c998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1191.2333679199219,"y":104.75007629394531,"wires":[]},{"id":"2ee50fe5.4693f","type":"function","z":"8b516464.29c998","name":"","func":"msg.out = true;\nreturn {\n    payload:msg\n};","outputs":1,"noerr":0,"x":885.8000183105469,"y":46.61665344238281,"wires":[["b1f1fbd1.1855a8"]]},{"id":"c570032a.ab7c7","type":"function","z":"8b516464.29c998","name":"","func":"\n\n\n\n\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":887.8000183105469,"y":105.61662292480469,"wires":[["a360be92.482e8"]]},{"id":"a360be92.482e8","type":"function","z":"8b516464.29c998","name":"","func":"\nclearTimeout(\n    context.get(\"id_of_settimeout\")\n);\n\nif(!msg.out){\n    context.set(\"id_of_settimeout\",\n        setTimeout(function(){\n            node.send({payload:\"MQTT沒連通!!!檢查是否IAP\"})\n        }, 5000)\n    );\n}","outputs":1,"noerr":0,"x":1027.0334167480469,"y":105.16670227050781,"wires":[["7ead52da.ddb0fc"]]},{"id":"6de64e18.7f9ac","type":"function","z":"8b516464.29c998","name":"get_talk_trick","func":"let config = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nlet output_text = msg.payload.output.text.join(\"\");\nlet service_id = config.service_id;\n\nif(is_json(output_text)){\n    let ans_obj = JSON.parse(output_text);\n    if(ans_obj && ans_obj.ans_ID){\n        msg.flow_config.time_record.mysql_call = Date.now();\n        msg.topic = \"call sp_select_talk_tricks('\"+service_id+\"','\"+ans_obj.ans_ID+\"');\";\n        msg.payload_preserved.ans_ID = ans_obj.ans_ID;\n        msg.mysql_router = \"get_talk_trick\";\n        return [msg,null];\n    }\n}\nreturn [null,msg];\n\nfunction is_json(str) {\n    try {\n        JSON.parse(str);\n    } catch (e) {\n        return false;\n    }\n    return true;\n}\n","outputs":2,"noerr":0,"x":210,"y":1640,"wires":[["2313a1be.57f2ee"],["5c79e4f8.51dbec"]]},{"id":"921faeb9.a0531","type":"function","z":"8b516464.29c998","name":"","func":"msg.flow_config.time_record.mysql_return = Date.now();\n\nif(\n    msg.payload[0][0]!=null &&\n    msg.payload[0][0].talk_tricks!=null && \n    is_json(msg.payload[0][0].talk_tricks)\n){\n    msg.payload_preserved.talk_tricks = JSON.parse(msg.payload[0][0].talk_tricks);\n    \n}\n\nif(msg.payload_preserved.ans_ID ==\"NORMAL\"){\n    RED.util.setMessageProperty(msg, \"socketIOEvent\", \"normal talk trick\", true);\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    //msg.payload = msg.payload_preserved.talk_tricks;\n    msg.payload = msg.payload[0];\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\nfunction is_json(str) {\n    try {\n        JSON.parse(str);\n    } catch (e) {\n        return false;\n    }\n    return true;\n}\n","outputs":2,"noerr":0,"x":1350,"y":1780,"wires":[["844498a7.278378"],["b4b8e47a.614278"]]},{"id":"8822cef0.2e806","type":"debug","z":"8b516464.29c998","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1240,"wires":[]},{"id":"799206c7.e54548","type":"function","z":"8b516464.29c998","name":"update_talk_trick","func":"let configs = msg.socketIOStaticProperties;\n\nlet dialog_id =  msg.payload && msg.payload.dialog_id?msg.payload.dialog_id:\"null\";\nlet talk_tricks =  msg.payload && msg.payload.talk_tricks?JSON.stringify(msg.payload.talk_tricks):\"null\";\nmsg.ori_paylaod = msg.payload;\nmsg.topic = \"call sp_update_talk_tricks('\"+configs.service_id+\"','dialog','\"+dialog_id+\"','\"+talk_tricks+\"');\";\nmsg.mysql_router = \"update_talk_trick\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1600,"wires":[["2313a1be.57f2ee"]]},{"id":"2a1df1b8.3064be","type":"link in","z":"8b516464.29c998","name":"Update Talk Trick- B","links":["c1b7a524.af3f88"],"x":75.46665954589844,"y":1600.8164367675781,"wires":[["799206c7.e54548"]]},{"id":"c1b7a524.af3f88","type":"link out","z":"8b516464.29c998","name":"Update Talk Trick- A","links":["2a1df1b8.3064be"],"x":935,"y":520,"wires":[]},{"id":"a86b3287.d9bcb","type":"function","z":"8b516464.29c998","name":"","func":"return {\n    payload:msg\n};","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["69ecdde9.d7c314"]]},{"id":"312974b2.ba862c","type":"link out","z":"8b516464.29c998","name":"DB SELECT - A","links":["a795a27e.22b3b"],"x":1315,"y":1880,"wires":[]},{"id":"e8df46e3.51b9a8","type":"function","z":"8b516464.29c998","name":"register_manager","func":"let mysql_cmd = \"SELECT 1; \";\nif(msg.payload.manager_data){\n    let manager_data = msg.payload.manager_data;\n    manager_data.PERSONAL_DATA = JSON.stringify(manager_data.Presponsibility_dataERSONAL_DATA) || \"{}\";\n    manager_data.PHONE = manager_data.PHONE || \"NULL\";\n    \n    mysql_cmd += \"call sp_update_manager('\"+manager_data.USERID+\"','\"+manager_data.COMPID+\"','\"+manager_data.DLRCD+\"','\"+manager_data.BRNHCD+\"','\"+manager_data.SECTCD+\"','\"+manager_data.ECHOTITLECD+\"','\"+manager_data.USERNM+\"','\"+manager_data.PICURL+\"', '\"+manager_data.PHONE+\"','\"+manager_data.PERSONAL_DATA+\"'); \";\n}\nif(msg.payload.responsibility_data){\n    msg.responsibility_data = msg.payload.responsibility_data;\n    msg.payload.responsibility_data.forEach(function(item){\n        item.NOTIFY_DATA = JSON.stringify(item.NOTIFY_DATA) || \"{}\";\n        //item.USERID可能為空\n        mysql_cmd += \"call sp_bind_client('\"+msg.payload.service_id+\"','\"+item.ENCYID+\"','\"+item.NICKNAME+\"','\"+item.CARNM+\"','\"+item.LICSNO+\"','\"+item.PICURL+\"', '\"+item.MOBILE+\"', '\"+item.FENDAT+\"', '\"+item.UENDAT+\"', '\"+item.BRTHDT+\"', '\"+item.FFLAG+\"', '\"+item.UFLAG+\"', '\"+item.BIRFLAG+\"', NULL,'\"+item.NOTIFY_DATA+\"'); \";\n    });\n}\nmsg.topic = mysql_cmd;\nmsg.mysql_router = \"register_manager\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1800,"wires":[["2313a1be.57f2ee"]]},{"id":"5033c914.3afb38","type":"link in","z":"8b516464.29c998","name":"Register Manager - B","links":["da6813a5.87f19"],"x":75,"y":1800,"wires":[["e8df46e3.51b9a8"]]},{"id":"4600d5fe.920bfc","type":"comment","z":"8b516464.29c998","name":"處理 進MQTT 出來 MYSQL 分邊","info":"","x":517.1166687011719,"y":1562.2000732421875,"wires":[]},{"id":"86796521.0e6c18","type":"switch","z":"8b516464.29c998","name":"","property":"mysql_router","propertyType":"msg","rules":[{"t":"eq","v":"get_history","vt":"str"},{"t":"eq","v":"update_talk_trick","vt":"str"},{"t":"eq","v":"get_talk_trick","vt":"str"},{"t":"eq","v":"talk_log","vt":"str"},{"t":"eq","v":"refresh_list","vt":"str"},{"t":"eq","v":"select_conversation_info","vt":"str"},{"t":"eq","v":"update_single_dialog","vt":"str"},{"t":"eq","v":"register_manager","vt":"str"},{"t":"eq","v":"register_client","vt":"str"},{"t":"eq","v":"check manager on service","vt":"str"},{"t":"eq","v":"manager log out","vt":"str"},{"t":"eq","v":"edit customer nickname","vt":"str"},{"t":"eq","v":"update notify flag","vt":"str"},{"t":"eq","v":"Call Api Log","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":15,"x":1080,"y":1860,"wires":[["63281b9a.abf464","9fbc8a22.b7dfc8"],[],["921faeb9.a0531"],["fc45232e.c8371"],["e3944305.372c2"],["211d6a8.e8e8796"],[],["312974b2.ba862c"],["1384e8fe.52bdf7"],["f71a590f.d32728"],["d9d459e8.03deb8"],["d8fb06af.7d0378"],["59a3e94.fff9318"],["351b6535.d2d59a"],["2bca9aaa.15f616"]]},{"id":"a1d7b8c3.baf848","type":"function","z":"8b516464.29c998","name":"get_history","func":"let configs = msg.socketIOStaticProperties;\n\nlet skip =  msg.payload && msg.payload.skip?msg.payload.skip:\"null\";\nlet limit =  msg.payload && msg.payload.limit!=null?msg.payload.limit:\"null\";\nmsg.ori_paylaod = msg.payload;\nmsg.topic = \"call sp_select_talk_history('\"+configs.type+\"','\"+configs.service_id+\"','\"+configs.client_id+\"',\"+skip+\",\"+limit+\");\";\nmsg.mysql_router = \"get_history\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1560,"wires":[["2313a1be.57f2ee"]]},{"id":"5c79e4f8.51dbec","type":"link out","z":"8b516464.29c998","name":"Talk Trick  OUT - A","links":["966c7963.d706a8"],"x":395,"y":1640,"wires":[]},{"id":"2313a1be.57f2ee","type":"function","z":"8b516464.29c998","name":"","func":"\n//node.warn(\"SQL: \"+msg.mysql_router);\n//node.warn(msg.topic);\n//node.warn(msg.mysql_router+\"\\n\"+msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["d2bc8da4.2aec28"]]},{"id":"2bca9aaa.15f616","type":"debug","z":"8b516464.29c998","name":"MYSQL類別異常","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":2020,"wires":[]},{"id":"da6813a5.87f19","type":"link out","z":"8b516464.29c998","name":"Register Manager - A","links":["5033c914.3afb38"],"x":1207.63330078125,"y":293.0000305175781,"wires":[]},{"id":"29505e7.6d530a2","type":"function","z":"8b516464.29c998","name":"","func":"let service_id = msg.payload.service_id;\n\nmsg.payload = {\n    room: service_id\n};\nreturn msg;","outputs":1,"noerr":0,"x":1241.666748046875,"y":325.66668701171875,"wires":[["1a1e23b1.8b563c","93b044cf.6ce138"]]},{"id":"57e10d1e.e10d34","type":"debug","z":"8b516464.29c998","name":"MYSQL commands","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":1640,"wires":[]},{"id":"cfc49535.91aa28","type":"function","z":"8b516464.29c998","name":"select conversation info","func":"\nmsg.topic = 'call sp_select_conversation_info(\"'+msg.socketIOAddStaticProperties.service_id+'\",\"'+msg.socketIOAddStaticProperties.client_id+'\");';\nmsg.mysql_router = \"select_conversation_info\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1760,"wires":[["2313a1be.57f2ee"]]},{"id":"a6ff847e.0da158","type":"link in","z":"8b516464.29c998","name":"Select Conversation Info IN - B","links":["c5128d58.8e3eb","1384e8fe.52bdf7"],"x":75,"y":1760,"wires":[["cfc49535.91aa28"]]},{"id":"c5128d58.8e3eb","type":"link out","z":"8b516464.29c998","name":"Select Conversation Info IN - A","links":["a6ff847e.0da158"],"x":1455,"y":420,"wires":[]},{"id":"e93d2915.b6e6b8","type":"inject","z":"8b516464.29c998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2220,"wires":[["287c7609.7f0c5a"]]},{"id":"287c7609.7f0c5a","type":"function","z":"8b516464.29c998","name":"清空資料庫","func":"msg.topic = \"\";\nmsg.topic += \"DELETE FROM tb_customer WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_manager WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_responsibility WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_message WHERE 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":425.33331298828125,"y":2220.0997924804688,"wires":[[]]},{"id":"454b8908.d021e8","type":"function","z":"8b516464.29c998","name":"","func":"\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nif(configs.type==\"client\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}","outputs":2,"noerr":0,"x":1237.75,"y":437.33338928222656,"wires":[["c5128d58.8e3eb"],["cbaea130.b6926"]]},{"id":"1384e8fe.52bdf7","type":"link out","z":"8b516464.29c998","name":"Select Conversation Info IN - A","links":["a6ff847e.0da158"],"x":1275,"y":1900,"wires":[]},{"id":"b09125cd.0c4d88","type":"function","z":"8b516464.29c998","name":"Broadcast - other rooms","func":"\nlet room_id = msg.payload.to.id + \"_\" + msg.payload.from.id;\n\nRED.util.setMessageProperty(\n    msg, \"socketIOStaticProperties\", \n    {\n        type : 'service',\n        client_id : msg.payload.to.id,\n        service_id : msg.payload.from.id,\n        room_id : room_id\n    },\n    true);\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nmsg.payload = msg.payload_preserved;\nmsg.payload.broadcast = true;\n\nmsg.flow_config.time_record.socket_broadcast = Date.now();\n\nlet room = msg.socketIOStaticProperties.room_id;\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nif(msg.socketIOStaticProperties===null){\n    node.warn(\"Room id 不見了!\");\n}\nmsg.room = room;\n\nreturn msg;","outputs":1,"noerr":0,"x":1481.9996643066406,"y":869.9997253417969,"wires":[["3e89809f.56fdd","181776ed.cc2389","626df8dc.43b898"]]},{"id":"44a153d0.24fd5c","type":"link out","z":"8b516464.29c998","name":"Talk Trick  IN - A","links":["3804f74f.bc6ce8"],"x":1655,"y":360,"wires":[]},{"id":"93b044cf.6ce138","type":"function","z":"8b516464.29c998","name":"get normal tricks","func":"\nmsg.payload_preserved = msg.payload;\nmsg.payload = {\n    output: {\n        text: ['{\"ans_ID\":\"NORMAL\"}']\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":360,"wires":[["44a153d0.24fd5c"]]},{"id":"844498a7.278378","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1570,"y":1760,"wires":[]},{"id":"7977c4dd.8caf0c","type":"function","z":"8b516464.29c998","name":"為推播訊息 > 發API","func":"if(msg.payload.push){\n    msg.preserved_payload = msg.payload;\n    msg.payload = {\n        to: msg.preserved_payload.to.id,\n        message: msg.preserved_payload.message\n    };\n    \n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":511.9996643066406,"y":909.9997253417969,"wires":[["ad755c7b.356c7"]]},{"id":"f05c521a.ee857","type":"function","z":"8b516464.29c998","name":"","func":"\nmsg.url = \"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_lexus_message\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nvar message_obj = [];\nvar item;\nif(msg.preserved_payload.message.type == 'image'){\n    item = {\n        \"type\": \"image\",\n        \"originalContentUrl\": msg.preserved_payload.message.url,\n        \"previewImageUrl\": msg.preserved_payload.message.url\n    }\n} else{\n    item = msg.preserved_payload.message\n}\nmessage_obj.push(item)\n// message_obj.forEach(function(item){\n//   if(item.type == 'image'){\n//         item = {\n//             \"type\": \"image\",\n//             \"originalContentUrl\": item.url,\n//             \"previewImageUrl\": item.url\n//         }\n//   }  \n// });\n\nvar form = {\n    HASHKEY: 'VERHMTU4NjA2NDk3MWMxZjc1OTI2OTdhZDgyZDRhNjZiNzI1MTI2YTY4YWJm',\n    messages_json: [JSON.stringify(message_obj)],\n    ENCYID: msg.payload.to,\n    token: '',\n    conversation_id: UUID()\n};\nmsg.form = form;\n\nmsg.payload = form.messages_json+form.ENCYID+form.HASHKEY;\n\nreturn msg;\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}","outputs":1,"noerr":0,"x":210,"y":1060,"wires":[["a0522bd3.73f678"]]},{"id":"9ffde02e.0c66a","type":"http request","z":"8b516464.29c998","name":"","method":"POST","ret":"txt","url":"","tls":"","x":600,"y":1060,"wires":[["d625cb73.327798","4b1d4862.57a0f8"]]},{"id":"d625cb73.327798","type":"debug","z":"8b516464.29c998","name":"台北數位推播API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1060,"wires":[]},{"id":"a0522bd3.73f678","type":"md5","z":"8b516464.29c998","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":330,"y":1060,"wires":[["1db858d8.814e67"]]},{"id":"1db858d8.814e67","type":"function","z":"8b516464.29c998","name":"","func":"msg.form.token = msg.md5;\nmsg.payload = msg.form;\nvar today = new Date();\nmsg.params = msg.payload;\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1060,"wires":[["9ffde02e.0c66a"]]},{"id":"8dbc3c61.1e66e","type":"comment","z":"8b516464.29c998","name":"台北數位推播API","info":"","x":150,"y":1000,"wires":[]},{"id":"ad755c7b.356c7","type":"link out","z":"8b516464.29c998","name":"Broadcast API - A","links":["c5beefcb.29804"],"x":666.9996643066406,"y":909.9997253417969,"wires":[]},{"id":"c5beefcb.29804","type":"link in","z":"8b516464.29c998","name":"Broadcast API - B","links":["ad755c7b.356c7"],"x":115,"y":1060,"wires":[["f05c521a.ee857"]]},{"id":"4bf14c47.29a5f4","type":"inject","z":"8b516464.29c998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1140,"wires":[["3abe776a.a86928"]]},{"id":"3abe776a.a86928","type":"function","z":"8b516464.29c998","name":"測試 - 傳給貓","func":"msg.payload = {\n    to: \"5bfcdb61de1c58a7e3ed8c07f4261d82\",\n    message: [{\n\t\ttype: \"text\",\n\t\ttext: \"test,test,test\"\n\t}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1140,"wires":[["f05c521a.ee857"]]},{"id":"2ac174b7.f22cec","type":"link out","z":"8b516464.29c998","name":"Check manager on service - A","links":["9fc88424.ef5198"],"x":1386.9996643066406,"y":809.9997253417969,"wires":[]},{"id":"a74e3b6e.bb12c8","type":"comment","z":"8b516464.29c998","name":"推播給專員","info":"","x":1030,"y":1020,"wires":[]},{"id":"9fc88424.ef5198","type":"link in","z":"8b516464.29c998","name":"Check manager on service - B","links":["2ac174b7.f22cec"],"x":75,"y":1880,"wires":[["ef37c5af.739538"]]},{"id":"ef37c5af.739538","type":"function","z":"8b516464.29c998","name":"取得專員登入狀態","func":"\nmsg.topic = \"SELECT * FROM tb_manager WHERE ht_id='\"+ msg.payload.to.id+\"';\";\nmsg.mysql_router = \"check manager on service\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1880,"wires":[["2313a1be.57f2ee"]]},{"id":"f71a590f.d32728","type":"link out","z":"8b516464.29c998","name":"check manager on service OUT - A","links":["9974bf03.18ea5"],"x":1315,"y":1920,"wires":[]},{"id":"9974bf03.18ea5","type":"link in","z":"8b516464.29c998","name":"check manager on service OUT - B","links":["f71a590f.d32728"],"x":1426.9996643066406,"y":809.9997253417969,"wires":[["3d758ea6.f949e2","360796d3.56394a"]]},{"id":"3d758ea6.f949e2","type":"function","z":"8b516464.29c998","name":"判斷在線","func":"var login = \"N\", \n    customer_data = {};\nif(msg.payload.length>0){\n    login = msg.payload[0].login;\n    customer_data = msg.payload[0];\n}\nmsg.payload = msg.payload_preserved;\n\nif(login == \"N\" && msg.payload_preserved.type == \"client\"){\n    msg.customer_data = customer_data;\n    return [msg, msg];    \n}else{\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1541.9996643066406,"y":809.9997253417969,"wires":[["ef6b4896.e4eb28"],["3e89809f.56fdd","181776ed.cc2389","626df8dc.43b898"]]},{"id":"ef6b4896.e4eb28","type":"function","z":"8b516464.29c998","name":"","func":"\nmsg.url = msg.flow_config.HT_LineNotifyAPI_host+\"SendMessage\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nmsg.payload = {\n    \"COMPID\": msg.customer_data.compid,\n    \"USERID\": msg.customer_data.ht_id,\n    \"MSG\": \"您有一封來自車主的訊息，請登入\\nhttp://40.74.77.84:8080/serv.do\\n查看\"\n};\nmsg.params = msg.payload;\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":760,"wires":[["1750b38b.84e85c"]]},{"id":"1750b38b.84e85c","type":"http request","z":"8b516464.29c998","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1860,"y":760,"wires":[["10e267d2.a2df38","79e658bd.315e18"]]},{"id":"10e267d2.a2df38","type":"debug","z":"8b516464.29c998","name":"Call API SendMessage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2080,"y":760,"wires":[]},{"id":"360796d3.56394a","type":"debug","z":"8b516464.29c998","name":"login status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":740,"wires":[]},{"id":"90a72b61.382198","type":"link in","z":"8b516464.29c998","name":"Manager log out - B","links":["c5f8c74d.9c2938"],"x":75,"y":1920,"wires":[["ba9dbe38.c0043"]]},{"id":"ba9dbe38.c0043","type":"function","z":"8b516464.29c998","name":"專員/車主登出","func":"var config = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nif(config){\n    if(config.type == \"client\"){\n        msg.topic = \"UPDATE tb_customer SET login='N' WHERE ht_id='\" + config.client_id + \"';\";\n        msg.mysql_router = \"customer log out\";\n    }else{\n        msg.topic = \"UPDATE tb_manager SET login='N' WHERE ht_id='\" + config.service_id + \"';\";\n        msg.mysql_router = \"manager log out\";\n    }\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":1920,"wires":[["2313a1be.57f2ee"]]},{"id":"d9d459e8.03deb8","type":"debug","z":"8b516464.29c998","name":"專員登出","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1400,"y":1940,"wires":[]},{"id":"c5f8c74d.9c2938","type":"link out","z":"8b516464.29c998","name":"Manager log out - A","links":["90a72b61.382198"],"x":935,"y":480,"wires":[]},{"id":"d96b638a.b67aa","type":"link out","z":"8b516464.29c998","name":"edit customer name - A","links":["77eccad7.86d404"],"x":895,"y":540,"wires":[]},{"id":"77eccad7.86d404","type":"link in","z":"8b516464.29c998","name":"edit customer name - B","links":["d96b638a.b67aa"],"x":75.03338623046875,"y":1960.6666870117188,"wires":[["f8bd74ac.7c57d8"]]},{"id":"f8bd74ac.7c57d8","type":"function","z":"8b516464.29c998","name":"更新使用暱稱","func":"msg.topic = \"UPDATE tb_responsibility SET customer_nickname = '\"+msg.payload.nickname+\"' WHERE manager_id = '\"+msg.payload.manager_id+\"' AND customer_id = '\"+msg.payload.customer_id+\"';\"\nmsg.mysql_router = \"edit customer nickname\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1960,"wires":[["2313a1be.57f2ee"]]},{"id":"d8fb06af.7d0378","type":"link out","z":"8b516464.29c998","name":"DB SELECT - A","links":["a795a27e.22b3b"],"x":1275,"y":1940,"wires":[]},{"id":"72c672a5.8d5aec","type":"link out","z":"8b516464.29c998","name":"update notify flag - A","links":["f2dec2b1.d4e8b"],"x":935,"y":560,"wires":[]},{"id":"f2dec2b1.d4e8b","type":"link in","z":"8b516464.29c998","name":"update notify flag -B","links":["72c672a5.8d5aec"],"x":75,"y":2000,"wires":[["bd46127b.007ea"]]},{"id":"bd46127b.007ea","type":"function","z":"8b516464.29c998","name":"更新通知flag","func":"msg.topic = \"UPDATE tb_customer SET \" + msg.payload.target + \"_notify = '\"+msg.payload.value+\"' WHERE ht_id = '\"+msg.payload.customer_id+\"';\"\nmsg.mysql_router = \"update notify flag\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2000,"wires":[["2313a1be.57f2ee"]]},{"id":"59a3e94.fff9318","type":"link out","z":"8b516464.29c998","name":"DB SELECT - A","links":["a795a27e.22b3b"],"x":1315,"y":1960,"wires":[]},{"id":"dccc7cc8.434c1","type":"link in","z":"8b516464.29c998","name":"Call Api Log - B","links":["f151937b.67bf7","f530be01.24419"],"x":75,"y":2040,"wires":[["8f23d4ad.5cd0f8"]]},{"id":"8f23d4ad.5cd0f8","type":"function","z":"8b516464.29c998","name":"Call Api Log","func":"var data = JSON.stringify(msg.payload.data);\nvar params = JSON.stringify(msg.payload.params);\ndata = data.substring(0, 2000>data.length?data.length:2000);\nparams = params.substring(0, 2000>params.length?params.length:2000);\n\nmsg.topic = \"call sp_api_log('\"+msg.payload.url+\"','\"+msg.payload.start+\"','\"+msg.payload.end+\"','\"+msg.payload.success+\"','\"+params+\"','\"+data+\"');\"\nmsg.mysql_router = \"Call Api Log\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2040,"wires":[["2313a1be.57f2ee"]]},{"id":"cbaea130.b6926","type":"function","z":"8b516464.29c998","name":"register client","func":"\nmsg.url = msg.flow_config.HT_API_host+\"LINE006_Q00\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nmsg.payload = {\n    \"jsonstr\":JSON.stringify({\n        \"ENCYID\": configs.client_id,\n        \"FRAN\": \"L\"\n    })\n};\nmsg.params = msg.payload;\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1450,"y":460,"wires":[["d0f96329.17702"]]},{"id":"d0f96329.17702","type":"http request","z":"8b516464.29c998","name":"LINE006_Q00","method":"POST","ret":"obj","url":"","tls":"","x":1640,"y":460,"wires":[["3c36d64f.85fcba","f1cd7bb5.368af8","4324c5b8.efcaac","979afb1d.126aa8"]]},{"id":"3c36d64f.85fcba","type":"function","z":"8b516464.29c998","name":"","func":"msg.taipei_digi_data = msg.payload;\n\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nmsg.url = msg.flow_config.HT_API_host+\"LINELCS01_Q01\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\n\nmsg.payload = {\n    \"jsonstr\":JSON.stringify({\n        \"ENCYID\": configs.client_id\n    })\n};\nmsg.params = msg.payload;\n\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1530,"y":500,"wires":[["5355f77f.e112e8"]]},{"id":"5355f77f.e112e8","type":"http request","z":"8b516464.29c998","name":"LINELCS01_Q01","method":"POST","ret":"obj","url":"","tls":"","x":1710,"y":500,"wires":[["1b8820ea.bae4cf","d67e92d9.877a2"]]},{"id":"1b8820ea.bae4cf","type":"function","z":"8b516464.29c998","name":"","func":"msg.lexus_data = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1630,"y":540,"wires":[["60440a51.d3af44"]]},{"id":"60440a51.d3af44","type":"link out","z":"8b516464.29c998","name":"Register Client - A","links":["d68300b.9f594"],"x":1735,"y":540,"wires":[]},{"id":"4b1d4862.57a0f8","type":"link out","z":"8b516464.29c998","name":"Socket Api Log - A","links":["fdbecc7a.b63a5"],"x":715,"y":1100,"wires":[]},{"id":"f1cd7bb5.368af8","type":"link out","z":"8b516464.29c998","name":"Socket Api Log - A","links":["fdbecc7a.b63a5"],"x":1775,"y":460,"wires":[]},{"id":"d67e92d9.877a2","type":"link out","z":"8b516464.29c998","name":"Socket Api Log - A","links":["fdbecc7a.b63a5"],"x":1855,"y":500,"wires":[]},{"id":"79e658bd.315e18","type":"link out","z":"8b516464.29c998","name":"Socket Api Log - A","links":["fdbecc7a.b63a5"],"x":1985,"y":720,"wires":[]},{"id":"351b6535.d2d59a","type":"debug","z":"8b516464.29c998","name":"call api log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":1980,"wires":[]},{"id":"f151937b.67bf7","type":"link out","z":"8b516464.29c998","name":"Call Api Log - A","links":["dccc7cc8.434c1"],"x":1035,"y":600,"wires":[]},{"id":"31b6c3ec.c6f8ac","type":"function","z":"8b516464.29c998","name":"","func":"msg.callapi = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":600,"wires":[["f151937b.67bf7"]]},{"id":"fdbecc7a.b63a5","type":"link in","z":"8b516464.29c998","name":"Socket Api Log - B","links":["f1cd7bb5.368af8","d67e92d9.877a2","4b1d4862.57a0f8","79e658bd.315e18"],"x":75,"y":2280,"wires":[["802b189.0dad8e8"]]},{"id":"802b189.0dad8e8","type":"function","z":"8b516464.29c998","name":"","func":"let today = new Date();\n\nmsg.callapi.end = today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw');\nmsg.callapi.url = msg.url;\nmsg.callapi.data = msg.payload;\nmsg.callapi.success = \"Y\";\nmsg.callapi.params = msg.params;\nmsg.payload = msg.callapi;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2280,"wires":[["f530be01.24419"]]},{"id":"f530be01.24419","type":"link out","z":"8b516464.29c998","name":"Call Api Log - A","links":["dccc7cc8.434c1"],"x":275,"y":2280,"wires":[]},{"id":"a24c4cbf.5a2ed","type":"function","z":"8b516464.29c998","name":"","func":"msg.preserved_payload = msg.payload;\n\nmsg.room= msg.socketIOStaticProperties.room_id;\n\n// RED.util.setMessageProperty(\n//     msg, \"socketIOAddStaticProperties\", \n//     {\n//         type : '',\n//         client_id : msg.payload.client_id,\n//         service_id : msg.payload.service_id,\n//         room_id : msg.payload.room_id\n//     },\n//     true);\n\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"change customer\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":640,"wires":[["75539e44.e93b3"]]},{"id":"75539e44.e93b3","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1110,"y":640,"wires":[]},{"id":"fd7bea54.cb2a88","type":"socketio-leave","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1260,"y":520,"wires":[]},{"id":"624617d5.7a09b8","type":"link out","z":"8b516464.29c998","name":"DB SELECT - A","links":["a795a27e.22b3b"],"x":1275,"y":1760,"wires":[]},{"id":"4324c5b8.efcaac","type":"link out","z":"8b516464.29c998","name":"update manager-A","links":["9c2d797b.0349e8"],"x":1775,"y":420,"wires":[]},{"id":"9c2d797b.0349e8","type":"link in","z":"8b516464.29c998","name":"update manager-B","links":["4324c5b8.efcaac"],"x":75,"y":2080,"wires":[["d532e814.a143f8"]]},{"id":"d532e814.a143f8","type":"function","z":"8b516464.29c998","name":"車主登入，更新manager","func":"\nvar taipei_digi_data = msg.payload.CSINFO[0] || {};\nmsg.topic=\"\";\n\nif(taipei_digi_data == {}) return null;\n\nvar config = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nif(config){\n    msg.topic += \"UPDATE tb_customer SET login='Y' WHERE ht_id='\" + config.client_id + \"';\";\n}\n\n\nif(taipei_digi_data.CRSALR!==\"\"){\n    taipei_digi_data.CRMOBILE\n    msg.topic += \"call sp_edit_manager('\"+taipei_digi_data.CRSALR+\"','\"+taipei_digi_data.CRCOMPID+\"','\"+taipei_digi_data.CRSALRNM+\"','\"+taipei_digi_data.CRMOBILE+\"');\";\n}\nif(taipei_digi_data.WHSRVNO!==\"\"){\n    msg.topic += \"call sp_edit_manager('\"+taipei_digi_data.WHSRVNO+\"','\"+taipei_digi_data.SRCOMPID+\"','\"+taipei_digi_data.WHSRVNM+\"','\"+taipei_digi_data.SRMOBILE+\"');\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":2080,"wires":[["2313a1be.57f2ee"]]},{"id":"ccfd1d0b.f8549","type":"debug","z":"8b516464.29c998","name":"======= 專員登入 =======","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1360,"y":260,"wires":[]},{"id":"979afb1d.126aa8","type":"debug","z":"8b516464.29c998","name":"======= 車主登入 =======","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1880,"y":380,"wires":[]},{"id":"3ae5eb2.8f7c014","type":"function","z":"8b516464.29c998","name":"","func":"msg.params={\n    \"classifier_ids\" : [\"lexus_model_280867776\"],\n    \"threshold\": 0.4\n};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1360,"wires":[["c7821e2c.a18a"]]},{"id":"a3c1de70.46a1d","type":"function","z":"8b516464.29c998","name":"","func":"msg.flow_config.time_record.visualrecog_return = Date.now();\nlet visual_talk_tricks = [];\nlet dict = get_visualrecognition_dict();\nif(\n    msg.result &&\n    msg.result.images &&\n    msg.result.images[0] &&\n    msg.result.images[0].classifiers &&\n    msg.result.images[0].classifiers[0] &&\n    msg.result.images[0].classifiers[0].classes\n){\n    let labels = msg.result.images[0].classifiers[0].classes;\n    labels.sort(function(a, b){\n        return b[\"score\"]-a[\"score\"];\n    });\n    labels = labels.filter(function(item){\n        return item[\"score\"]>0.4;\n    });\n    \n    visual_talk_tricks = labels.map(function(item){\n       return dict[item.class]\n    });\n}\n\nmsg.payload_preserved.talk_tricks = visual_talk_tricks;\n\nreturn msg;\n\nfunction get_visualrecognition_dict(){\n    return {\n    \t'4wheelLock': '動態扭力控制 AWD\\n系統會盡可能將引擎扭力分配到後輪。',\n    \t'ABS': 'ABS 防鎖定煞車系統或煞車輔助系統可能需要檢修。  → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'AHS': '智慧型遠光燈系統利用位於擋風玻璃上半部後面的攝影機感知器，感知前車燈光、街道燈光的亮度等，並於必要時自動控制頭燈。',\n    \t'brakes_O': 'EPB 電子駐車煞車系統系統可能需要檢修    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'brakes_R': '煞車油液面過低或煞車系統故障    → 立即將車輛停放在安全地點，並聯絡Lexus 保養廠。',\n    \t'ECO': '相對於 NORMAL 模式，當您踩下油門踏板時，扭力產生速度較慢、空調作動受到限制，適合注重節省油耗的駕駛方式使用。',\n    \t'engine': '引擎電子控制系統、電子節氣門控制系統或電子自排變速箱控制系統，可能需要檢修    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'Eparking': '可能是駐車煞車未完全作動或釋放    → 請再次操作駐車煞車開關。',\n    \t'EPS_O': '表示故障發生於EPS( 電子動力方向盤) 系統    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'EPS_R': '表示故障發生於EPS( 電子動力方向盤) 系統    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'FogLight': '在不佳的行車條件 (如下雨及起霧 ) 下行駛時，請開啟霧燈以確保良好的能見度，並開啟後霧燈以便後車留意前車狀況。',\n    \t'HighBeam': '1. 頭燈亮起時，將控制桿推離自己即可開啟遠光燈。將控制桿拉向自己到中央位置即可關閉遠光燈。2. 將控制桿拉向自己並放開即可閃亮遠光燈一次。不論頭燈亮起或熄滅，均可閃亮遠光燈。',\n    \t'HOLD_G': '表示故障發生於Hold 定車煞車輔助系統    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'LDA': '表示LDA 車道偏離警示系統系統運作中',\n    \t'LowFuel': '指示剩餘油量約 10.8 公升或更少    → 添加燃油。',\n    \t'MainWarn': '蜂鳴器響起及警示燈亮起或閃爍時，表示主要警示系統已偵測到故障。    ',\n    \t'ParkingAss': '當路邊停車或倒車入庫時，感知器所測得車輛與障礙物的距離，可經由顯示幕及蜂鳴器警示獲得資訊。',\n    \t'PCS': '警示燈亮起時： VSC (車輛穩定控制系統) 或 PCS (預警式防護系統)  已停用，或兩者皆停用。    → 若要啟用 PCS，請同時啟用 VSC 與 PCS 系統。  ',\n    \t'Radar': 'DRCC 雷達感應式車距維持定速系統，在控制啟動中，車輛會自動加速或減速，以符合前車車速變化，並建議於快速道路和高速公路使用。',\n    \t'RadarSeg': '此模式使用雷達感知器對前方 100 m 範圍內進行車輛偵測、判定目前的兩車間距，以及與前車維持合適的跟車距離。請注意，當行駛在陡降坡路段時，兩車間距將會關閉。',\n    \t'Reversing': '(待確認)',\n    \t'seatBelt': '警告駕駛和/ 或前座乘客繫上安全帶。',\n    \t'SkidIndicator': '警示燈亮起時：表示 VSC 系統、TRC 系統或HAC 上坡起步輔助控制系統可能需要檢修。    → 請立即將車輛送至Lexus 保養廠檢修。    警示燈閃爍時：    表示 VSC 或 TRC 系統作動中',\n    \t'SRS': '表示SRS 氣囊系統或預縮式束力安全帶系統，可能需要檢修。    → 請立即將車輛送至Lexus 保養廠檢修。',\n    \t'StopStartOff': '表示Stop & Start 智慧型引擎節能系統解除',\n    \t'TirePressure': '代表因自然因素而導致胎壓降低或胎壓警示系統故障',\n    \t'TRCoff': 'TRC系統目前關閉中',\n    \t'VSCoff': 'VSC系統目前關閉中',\n    \t'???': '表示車輛的充電系統發生故障→立即將車輛停放在安全地點，並聯絡 Lexus 保養廠。',\n    \t'ECO_drive': '在符合環保的加速 (ECO 駕駛 ) 期間，ECO 行駛指示燈會亮起。如果加速方式超出 ECO 行駛區域或車輛停止時，指示燈會熄滅。',\n    \t'HOLD_O': '表示 HOLD 定車煞車輔助系統，可能需要檢修。→請立即將車輛送至 Lexus 保養廠檢修。',\n    \t'Overheat': '表示引擎過熱引擎冷卻液溫度表的指針進入紅色區域，或發現馬力不足',\n    \t'Taillight': '表示開啟前位置燈、尾燈、 牌照燈、儀表燈。'\n    }\n}\n","outputs":1,"noerr":0,"x":1030,"y":1360,"wires":[["7e523fbc.fd8cb"]]},{"id":"7e523fbc.fd8cb","type":"link out","z":"8b516464.29c998","name":"Talk Trick  OUT - A","links":["966c7963.d706a8"],"x":1124.7118244171143,"y":1359.2119626998901,"wires":[]},{"id":"4e499728.65e6a8","type":"catch","z":"8b516464.29c998","name":"Assistance error","scope":["3830cb20.e81df4"],"x":400,"y":700,"wires":[["1fad1460.4d9c9c"]]},{"id":"1fad1460.4d9c9c","type":"function","z":"8b516464.29c998","name":"hardcore assistance error return","func":"msg.payload = {};\nmsg.payload = {\n\t\"intents\": [],\n\t\"entities\": [],\n\t\"input\": {\n\t\t\"text\": msg.payload_preserved.message.text || \"\"\n\t},\n\t\"output\": {\n\t\t\"generic\": [{\n\t\t\t\"response_type\": \"text\",\n\t\t\t\"text\": \"error\"\n\t\t}],\n\t\t\"text\": [\"error\"],\n\t\t\"nodes_visited\": [\"node_1_1542720225149\",\n\t\t\"node_1_1542703701912\"],\n\t\t\"log_messages\": []\n\t},\n\t\"context\": {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":700,"wires":[["d8efd662.74c808","b230a29d.32f67"]]},{"id":"211d6a8.e8e8796","type":"socketio-out","z":"8b516464.29c998","name":"","server":"da313d96.6de17","x":1450,"y":1860,"wires":[]},{"id":"f5423675.83cf38","type":"mqtt in","z":"8b516464.29c998","name":"","topic":"mqtt_alive","qos":"2","broker":"aef2f1dd.60759","x":716.2333679199219,"y":105.23335266113281,"wires":[["c570032a.ab7c7"]]},{"id":"b1f1fbd1.1855a8","type":"mqtt out","z":"8b516464.29c998","name":"","topic":"mqtt_alive","qos":"","retain":"","broker":"aef2f1dd.60759","x":1080.7333679199219,"y":46.65003967285156,"wires":[]},{"id":"fb3ec01f.ca2f8","type":"function","z":"8b516464.29c998","name":"","func":"\nmsg.payload = {\n    platform:\"阿本-SocketServer\",\n    message:JSON.stringify(msg.error),\n    topic:msg.topic,\n    url:msg.url,\n    payload:JSON.stringify(msg.payload)\n};\n\n\nmsg.url = \"https://nodered-api-lexus-test01.mybluemix.net/error_log_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["c1070eba.a6e6"]]},{"id":"c1070eba.a6e6","type":"http request","z":"8b516464.29c998","name":"","method":"POST","ret":"txt","url":"","tls":"","x":540,"y":100,"wires":[[]]},{"id":"e1e951b7.bf1b2","type":"inject","z":"8b516464.29c998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[[]]},{"id":"b6fd3625.a715c8","type":"function","z":"8b516464.29c998","name":"","func":"\nmsg._topic = msg.topic ;\nmsg.topic = msg.mysql_router;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1700,"wires":[["57e10d1e.e10d34"]]},{"id":"9fbc8a22.b7dfc8","type":"debug","z":"8b516464.29c998","name":"##########################","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1400,"y":1680,"wires":[]},{"id":"21186a42.d9da86","type":"debug","z":"8b516464.29c998","name":"###############","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":1440,"wires":[]},{"id":"778456d7.bc9778","type":"function","z":"8b516464.29c998","name":"偽assistant","func":"\nlet dict = get_assistant_dict()\nif(dict[msg.payload]!=null){\n    msg.payload = dict[msg.payload];\n    return msg;\n}else{\n    node.warn(\"沒有的對話\");\n}\n\nfunction get_assistant_dict(){\n    return {\"123\":{\"intents\":[],\"entities\":[],\"input\":{\"text\":\"123\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"D0000\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"text\\\",\\n\\t\\t\\t\\\"text\\\": \\\"#意圖過短不予回復#\\\"\\n\\t\\t}\\n\\t]\\n}\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"D0000\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"text\\\",\\n\\t\\t\\t\\\"text\\\": \\\"#意圖過短不予回復#\\\"\\n\\t\\t}\\n\\t]\\n}\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_1_1542703701912\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":7,\"dialog_request_counter\":7,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]},\"node_1_1542703701912\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}},\"妳好\":{\"intents\":[],\"entities\":[],\"input\":{\"text\":\"妳好\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"D0404\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"購車需求\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx#/dealer\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"維修保養\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專屬專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"專人服務\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\": \\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\\n\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"D0404\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"購車需求\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx#/dealer\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"維修保養\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專屬專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"專人服務\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\": \\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\\n\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_1_1541655894696\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":4,\"dialog_request_counter\":4,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}},\"_msgid\":\"24c46aef.c41b06\",\"車子拋錨了\":{\"intents\":[{\"intent\":\"相關客服_顧客服務中心_道路救援\",\"confidence\":0.5895410537719727}],\"entities\":[],\"input\":{\"text\":\"車子拋錨了\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"若愛車有緊急道路救援協助需求，撥打救援專線有專人24 小時提供服務\\\",\\n\\t\\t\\t\\\"type\\\": \\\"buttons\\\",\\n\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\\"uri\\\": \\\"tel:0800091091\\\",\\n\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\\"label\\\": \\\"撥打救援專線\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t],\\n\\t\\t\\t\\\"altText\\\": \\\"救援專線:0800-091-091\\\"\\n\\t\\t}\\n\\t]\\n}\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"若愛車有緊急道路救援協助需求，撥打救援專線有專人24 小時提供服務\\\",\\n\\t\\t\\t\\\"type\\\": \\\"buttons\\\",\\n\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\\"uri\\\": \\\"tel:0800091091\\\",\\n\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\\"label\\\": \\\"撥打救援專線\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t],\\n\\t\\t\\t\\\"altText\\\": \\\"救援專線:0800-091-091\\\"\\n\\t\\t}\\n\\t]\\n}\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_10_1542708731639\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":5,\"dialog_request_counter\":5,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}},\"電瓶壞了\":{\"intents\":[{\"intent\":\"故障詢問_電瓶電量沒電發不動\",\"confidence\":1}],\"entities\":[{\"entity\":\"汽車相關零部件\",\"location\":[0,2],\"value\":\"電瓶\",\"confidence\":1}],\"input\":{\"text\":\"電瓶壞了\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\\"ans_ID\\\":\\\"D1085\\\",\\\"do_actions\\\":[{\\\"text\\\":\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"type\\\":\\\"text\\\"}]}\"}],\"text\":[\"{\\\"ans_ID\\\":\\\"D1085\\\",\\\"do_actions\\\":[{\\\"text\\\":\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"type\\\":\\\"text\\\"}]}\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_3_1544515809402\",\"node_3_1543830903605\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":11,\"dialog_request_counter\":11,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]},\"node_1_1542703701912\":{\"0\":[0]},\"node_5_1542720889410\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":true,\"car_component\":\"電瓶\"}},\"哈囉\":{\"intents\":[],\"entities\":[{\"entity\":\"日常用語_短語\",\"location\":[0,2],\"value\":\"打招呼\",\"confidence\":1}],\"input\":{\"text\":\"哈囉\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"D5101\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"HiHi \\\\uDBC0\\\\uDC84有什麼需要我幫忙的？\\\",\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\"車款資訊、服務資訊、品牌資訊\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\"服務目錄\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_verify/from/hotaimotor_list\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"車主服務\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"聯絡專屬專員\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"品牌新訊\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"品牌新訊\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\":\\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"D5101\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"HiHi \\\\uDBC0\\\\uDC84有什麼需要我幫忙的？\\\",\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\"車款資訊、服務資訊、品牌資訊\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\"服務目錄\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_verify/from/hotaimotor_list\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"車主服務\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"聯絡專屬專員\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"品牌新訊\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"品牌新訊\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\":\\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_5_1542720889410\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":8,\"dialog_request_counter\":8,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]},\"node_1_1542703701912\":{\"0\":[0]},\"node_5_1542720889410\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}},\"你好\":{\"intents\":[],\"entities\":[{\"entity\":\"日常用語_短語\",\"location\":[0,2],\"value\":\"打招呼\",\"confidence\":1}],\"input\":{\"text\":\"你好\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"D5101\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"HiHi \\\\uDBC0\\\\uDC84有什麼需要我幫忙的？\\\",\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\"車款資訊、服務資訊、品牌資訊\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\"服務目錄\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_verify/from/hotaimotor_list\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"車主服務\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"聯絡專屬專員\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"品牌新訊\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"品牌新訊\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\":\\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"D5101\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"text\\\": \\\"HiHi \\\\uDBC0\\\\uDC84有什麼需要我幫忙的？\\\",\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\"車款資訊、服務資訊、品牌資訊\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\"服務目錄\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_verify/from/hotaimotor_list\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"車主服務\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"聯絡專屬專員\\\"\\n\\t\\t\\t\\t\\t\\t}, {\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"品牌新訊\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"品牌新訊\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\":\\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_5_1542720889410\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":9,\"dialog_request_counter\":9,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]},\"node_1_1542703701912\":{\"0\":[0]},\"node_5_1542720889410\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}},\"我生病了\":{\"intents\":[],\"entities\":[],\"input\":{\"text\":\"我生病了\"},\"output\":{\"generic\":[{\"response_type\":\"text\",\"text\":\"{\\n\\t\\\"ans_ID\\\": \\\"D0404\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"購車需求\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx#/dealer\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"維修保養\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專屬專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"專人服務\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\": \\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\\n\"}],\"text\":[\"{\\n\\t\\\"ans_ID\\\": \\\"D0404\\\",\\n\\t\\\"do_actions\\\": [{\\n\\t\\t\\t\\\"type\\\": \\\"carousel\\\",\\n\\t\\t\\t\\\"altText\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\\"columns\\\": [{\\n\\t\\t\\t\\t\\t\\\"text\\\": \\\" 您好🙌 若有購車需求、保養維修或其他問題可前往服務據點或由專屬專員線上為您服務\\\",\\n\\t\\t\\t\\t\\t\\\"actions\\\": [{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"購車需求\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"uri\\\": \\\"https://www.lexus.com.tw/location.aspx#/dealer\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"uri\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"維修保養\\\"\\n\\t\\t\\t\\t\\t\\t},{\\n\\t\\t\\t\\t\\t\\t\\t\\\"text\\\": \\\"聯絡專屬專員\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"type\\\": \\\"message\\\",\\n\\t\\t\\t\\t\\t\\t\\t\\\"label\\\": \\\"專人服務\\\"\\n\\t\\t\\t\\t\\t\\t}\\n\\t\\t\\t\\t\\t],\\n\\t\\t\\t\\t\\t\\\"imageUrl\\\": \\\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/Official/lexus_logo.png\\\"\\n\\t\\t\\t\\t}\\n\\t\\t\\t]\\n\\t\\t}\\n\\t]\\n}\\n\"],\"nodes_visited\":[\"node_1_1542720225149\",\"node_1_1541655894696\"],\"log_messages\":[]},\"context\":{\"conversation_id\":\"3279f054-6a93-48ff-94e6-6237e879e2c9\",\"system\":{\"initialized\":true,\"dialog_stack\":[{\"dialog_node\":\"root\"}],\"dialog_turn_counter\":10,\"dialog_request_counter\":10,\"_node_output_map\":{\"node_1_1541655894696\":{\"0\":[0]},\"node_3_1543830903605\":{\"0\":[0]},\"node_10_1542708731639\":{\"0\":[0]},\"node_1_1542703701912\":{\"0\":[0]},\"node_5_1542720889410\":{\"0\":[0]}},\"branch_exited\":true,\"branch_exited_reason\":\"completed\"},\"currentHour\":10,\"Lexus_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/lexus-image-test/Line/\",\"talking_car_component\":false,\"car_component\":\"電瓶\"}}};\n}","outputs":1,"noerr":0,"x":770,"y":740,"wires":[["d8efd662.74c808"]]},{"id":"8da87200.e906a","type":"function","z":"8b516464.29c998","name":"MAKE DICT","func":"\n\nlet input_output_pair = context.get(\"input_output_pair\");\ninput_output_pair = input_output_pair?input_output_pair:{};\ninput_output_pair[msg.says]=msg.payload;\n\ncontext.set(\"input_output_pair\",input_output_pair);\n\nreturn input_output_pair;","outputs":1,"noerr":0,"x":970,"y":880,"wires":[["55f9dafb.c04aa4"]]},{"id":"55f9dafb.c04aa4","type":"debug","z":"8b516464.29c998","name":"FOR TY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":940,"wires":[]},{"id":"c2333c03.1d30b8","type":"debug","z":"8b516464.29c998","name":"FOR TY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":2040,"wires":[]},{"id":"f80c5f8e.071008","type":"function","z":"8b516464.29c998","name":"MAKE DICT","func":"\n\n\nlet input_output_pair = context.get(\"input_output_pair\");\ninput_output_pair = input_output_pair?input_output_pair:{};\nlet input_output_pair2 = context.get(\"input_output_pair2\");\ninput_output_pair2 = input_output_pair2?input_output_pair2:{};\ninput_output_pair[msg.topic]=msg.payload;\ninput_output_pair2[msg.topic.split(\"(\")[0]]=msg.payload;\ncontext.set(\"input_output_pair\",input_output_pair);\ncontext.set(\"input_output_pair2\",input_output_pair2);\n\nreturn [input_output_pair,input_output_pair2];","outputs":2,"noerr":0,"x":1010,"y":2080,"wires":[["c2333c03.1d30b8"],["ad23acd.211925"]]},{"id":"d2bc8da4.2aec28","type":"function","z":"8b516464.29c998","name":"偽Mysql","func":"\nlet dict = get_mysql_dict();\nlet dict2 = get_mysql_dict2();\nif(dict[msg.topic]!=null){\n    msg.payload = dict[msg.topic];\n    return msg;\n}else if(dict2[msg.topic.split(\"(\")[0]]!=null){\n    msg.payload = dict2[msg.topic.split(\"(\")[0]];\n    return msg;\n}else{\n    node.warn(\"沒有相似資料\");\n}\n\n\nfunction get_mysql_dict(){\n    return {\"call sp_select_talk_tricks('AA81344','NORMAL');\":[[{\"dialog_id\":\"NORMAL_BIRTH\",\"talk_tricks\":\"[\\\"祝您生日快樂!事事順心~準備小禮物要送給您\\\",\\\"祝您許的願望都能實現，生日快樂！哈哈哈\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\"]\"},{\"dialog_id\":\"NORMAL_FEN\",\"talk_tricks\":\"[\\\"保險即將到期，麻煩您安排時間完成續保事宜\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\"]\"},{\"dialog_id\":\"NORMAL_HOTAI\",\"talk_tricks\":\"[\\\"Hi 您的愛車保養週期到了，需要幫您預約？\\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\"]\"},{\"dialog_id\":\"NORMAL_OTHER\",\"talk_tricks\":\"[\\\"順便幫我帶您的木頭印章來取車\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\"]\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"_msgid\":\"24c46aef.c41b06\",\"SELECT 1; call sp_update_manager('AA81344','AA','A','53','*','9','**賢','https://lexus-cs.herokuapp.com/images/cs_icon.png', 'NULL','{}'); call sp_bind_client('AA81344','21c1df804260c2cfde70883dbd5dd5ad','******','RX330','AQE-2739','https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg', '0962065638', '20171220', '20171210', '        ', 'Y', 'Y', 'N', NULL,'{}'); call sp_bind_client('AA81344','3f8e8a76512090efd1407134f9f12345','******','RX330','AQE-2739','https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg', '0910000000', '20171220', '20171210', '        ', 'Y', 'Y', 'N', NULL,'{}'); call sp_bind_client('AA81344','635cef68b77a86501730d077938fba35','******','RX330','AQE-2739','https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg', '0921607437', '20171220', '20171210', '        ', 'Y', 'Y', 'N', NULL,'{}'); call sp_bind_client('AA81344','068a67c53c288942bc21229a1ee92c89','cobe','LS460','RBD-3200','https://profile.line-scdn.net/0hXQHcw7-8B351GiggJu94KUlfCRMCNAE2DXhKSAcdWkZQIhV7TXhAGFcYDUZffkV6Ti9NGwAYXU1Z', '', '', '', '        ', 'N', 'N', 'N', NULL,'{}'); call sp_bind_client('AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82','Michael/臭貓','LS460','RBD-3200','https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It', '0984311726', '', '', '        ', 'N', 'N', 'N', NULL,'{}'); call sp_bind_client('AA81344','76c4f519cb5ee476d086550851e79ed1','Robin Kuo (郭泰源)','LS460','RBD-3200','https://profile.line-scdn.net/0m079eade272513874d42720b4933a470284ee7f6b839c', '', '', '', '        ', 'N', 'N', 'N', NULL,'{}'); call sp_bind_client('AA81344','c387d12ed9c059813da9c09ea5fddb22','James Liu','LS460','RBD-3200','https://profile.line-scdn.net/0hrj45o8EpLUUJTAAFbCZSEjUJIyh-YisNcX9ld3tIcXwkfTpDNSk1JSVEc3N0Lz0RYCtgJSgZIH0k', '0958562608', '', '', '        ', 'N', 'N', 'N', NULL,'{}'); call sp_bind_client('AA81344','fff1ee8e6455b98bcb0deaa100527b4e','Christine','LS460','RBD-3200','https://profile.line-scdn.net/0hoAFRZK_XMG57KxzNii1POUduPgMMBTYmAx0vXFkpagpeHiI9EE96AAwpaQ5XG3M-QUwoCAotal9T', '0936065900', '', '', '        ', 'N', 'N', 'N', NULL,'{}'); \":[[{\"1\":1}],{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_manager_list('AA81344','undefined');\":[[{\"customer_id\":\"21c1df804260c2cfde70883dbd5dd5ad\",\"conversation_title\":\"RX330 | AQE-2739\",\"customer_nickname\":\"******\",\"avator\":\"https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg\",\"last_talk_time\":\"2018-12-16T07:48:11.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"Y\",\"uend_need_notify\":\"Y\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"3f8e8a76512090efd1407134f9f12345\",\"conversation_title\":\"RX330 | AQE-2739\",\"customer_nickname\":\"******\",\"avator\":\"https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg\",\"last_talk_time\":\"2018-12-16T07:48:11.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"Y\",\"uend_need_notify\":\"Y\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"635cef68b77a86501730d077938fba35\",\"conversation_title\":\"RX330 | AQE-2739\",\"customer_nickname\":\"******\",\"avator\":\"https://htsr.hotaimotor.com.tw/LINEAPI/IMG/user.jpg\",\"last_talk_time\":\"2018-12-16T07:48:11.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"Y\",\"uend_need_notify\":\"Y\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"068a67c53c288942bc21229a1ee92c89\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"cobe\",\"avator\":\"https://profile.line-scdn.net/0hXQHcw7-8B351GiggJu94KUlfCRMCNAE2DXhKSAcdWkZQIhV7TXhAGFcYDUZffkV6Ti9NGwAYXU1Z\",\"last_talk_time\":\"2018-12-16T07:48:12.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"N\",\"uend_need_notify\":\"N\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\",\"last_talk_time\":\"2018-12-17T02:32:30.000Z\",\"last_message\":\"麻煩準備公司大小章，蓋出險用的還有您的印章\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"N\",\"uend_need_notify\":\"N\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"76c4f519cb5ee476d086550851e79ed1\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"Robin Kuo (郭泰源)\",\"avator\":\"https://profile.line-scdn.net/0m079eade272513874d42720b4933a470284ee7f6b839c\",\"last_talk_time\":\"2018-12-16T07:48:12.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"N\",\"uend_need_notify\":\"N\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"c387d12ed9c059813da9c09ea5fddb22\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"James Liu\",\"avator\":\"https://profile.line-scdn.net/0hrj45o8EpLUUJTAAFbCZSEjUJIyh-YisNcX9ld3tIcXwkfTpDNSk1JSVEc3N0Lz0RYCtgJSgZIH0k\",\"last_talk_time\":\"2018-12-16T07:48:12.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"N\",\"uend_need_notify\":\"N\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"},{\"customer_id\":\"fff1ee8e6455b98bcb0deaa100527b4e\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"Christine\",\"avator\":\"https://profile.line-scdn.net/0hoAFRZK_XMG57KxzNii1POUduPgMMBTYmAx0vXFkpagpeHiI9EE96AAwpaQ5XG3M-QUwoCAotal9T\",\"last_talk_time\":\"2018-12-16T07:48:12.000Z\",\"last_message\":\"\",\"manager_unread\":0,\"notify_data\":\"{}\",\"fend_need_notify\":\"N\",\"uend_need_notify\":\"N\",\"birth_need_notify\":\"N\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_conversation_info(\\\"AA81344\\\",\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\");\":[[{\"manager_data\":\"{\\\"end_point\\\":\\\"service\\\",\\\"id\\\":\\\"AA81344\\\",\\\"name\\\":\\\"**賢\\\",\\\"type\\\":\\\"9\\\",\\\"avator\\\":\\\"https://lexus-cs.herokuapp.com/images/cs_icon.png\\\",\\\"PHONE\\\":\\\"0225081288\\\"}\",\"customer_data\":\"{\\\"end_point\\\":\\\"client\\\",\\\"id\\\":\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\",\\\"name\\\":\\\"Michael/臭貓\\\",\\\"vehicle_type\\\":\\\"LS460\\\",\\\"vehicle_number\\\":\\\"RBD-3200\\\",\\\"avator\\\":\\\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\\\",\\\"PHONE\\\":\\\"****  ****\\\"}\",\"unread\":\"0\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_talk_history('service','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82',null,3);\":[[{\"message_id\":\"c6fa4b1c-5dfb-4317-a435-1ea08e47afff\",\"message_type\":\"text\",\"content\":\"麻煩準備公司大小章，蓋出險用的還有您的印章\",\"time\":\"2018-12-17T02:32:30.456Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013950458,\\\"socket_broadcast\\\":1545013950459,\\\"before_db_log\\\":1545013950461}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"69e81aa3-59d6-4371-b5d3-41848c05f0b1\",\"message_type\":\"text\",\"content\":\"祝您許的願望都能實現，生日快樂！\",\"time\":\"2018-12-17T02:32:14.664Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013934665,\\\"socket_broadcast\\\":1545013934666,\\\"before_db_log\\\":1545013934668}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"9946b199-cac8-40bb-9745-d8df679bff2b\",\"message_type\":\"text\",\"content\":\"為您預約維修: \\n日期:2018/12/19\\n時段:08:30\\n服務廠:A-52\",\"time\":\"2018-12-17T02:31:57.980Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013917982,\\\"socket_broadcast\\\":1545013917982,\\\"before_db_log\\\":1545013917985}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_api_log('https://htsr.hotaimotor.com.tw/LINEAPI_TEST/Service.asmx/LINE006_Q00','2018-12-17 10:54:12','2018-12-17 10:54:12','Y','{\\\"jsonstr\\\":\\\"{\\\\\\\"ENCYID\\\\\\\":\\\\\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\\\\\",\\\\\\\"FRAN\\\\\\\":\\\\\\\"L\\\\\\\"}\\\"}','{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"CSINFO\\\":[{\\\"LICSNO\\\":\\\"RBD-3200\\\",\\\"FRAN\\\":\\\"L\\\",\\\"CARNM\\\":\\\"LS460\\\",\\\"CRCOMPID\\\":\\\"AB\\\",\\\"CRSALR\\\":\\\"AB91006\\\",\\\"CRSALRNM\\\":\\\"**為\\\",\\\"CRMOBILE\\\":\\\"0227825899\\\",\\\"SRCOMPID\\\":\\\"AA\\\",\\\"WHSRVNO\\\":\\\"AA81344\\\",\\\"WHSRVNM\\\":\\\"**賢\\\",\\\"SRMOBILE\\\":\\\"0225081288\\\",\\\"NICKNAME\\\":\\\"Michael/臭貓\\\",\\\"PICURL\\\":\\\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\\\"}]}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"UPDATE tb_customer SET login='Y' WHERE ht_id='5bfcdb61de1c58a7e3ed8c07f4261d82';call sp_edit_manager('AB91006','AB','**為','0227825899');call sp_edit_manager('AA81344','AA','**賢','0225081288');\":[{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"(Rows matched: 1  Changed: 1  Warnings: 0\",\"protocol41\":true,\"changedRows\":1},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_bind_client('AB91006','5bfcdb61de1c58a7e3ed8c07f4261d82','******','LS460','RBD-3200','https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It','****  ****','2017/12/20','2017/12/10','','','','','{\\\"taipei_digi_data\\\":{\\\"LICSNO\\\":\\\"RBD-3200\\\",\\\"FRAN\\\":\\\"L\\\",\\\"CARNM\\\":\\\"LS460\\\",\\\"CRCOMPID\\\":\\\"AB\\\",\\\"CRSALR\\\":\\\"AB91006\\\",\\\"CRSALRNM\\\":\\\"**為\\\",\\\"CRMOBILE\\\":\\\"0227825899\\\",\\\"SRCOMPID\\\":\\\"AA\\\",\\\"WHSRVNO\\\":\\\"AA81344\\\",\\\"WHSRVNM\\\":\\\"**賢\\\",\\\"SRMOBILE\\\":\\\"0225081288\\\",\\\"NICKNAME\\\":\\\"Michael/臭貓\\\",\\\"PICURL\\\":\\\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\\\"},\\\"lexus_data\\\":{\\\"USERNM\\\":\\\"******\\\",\\\"ADDR\\\":\\\"高雄市仁*******\\\",\\\"MOBILE\\\":\\\"****  ****\\\",\\\"BIRTHDAY\\\":\\\"\\\",\\\"CARNM\\\":\\\"RX330     \\\",\\\"SFX\\\":\\\"3311        \\\",\\\"REDLDT\\\":\\\"2015/01/01\\\",\\\"FENDAT\\\":\\\"2017/12/20\\\",\\\"UENDAT\\\":\\\"2017/12/10\\\",\\\"NXRPMO\\\":\\\"引擎腳老化\\\",\\\"RTPTDT\\\":\\\"2018/10/24\\\",\\\"RTPTML\\\":\\\"1\\\",\\\"BRKDS\\\":\\\"網路預約;萬公里定保-LINE-LCS預約測試資料\\\"}}',NULL);call sp_bind_client('AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82','******','LS460','RBD-3200','https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It','****  ****','2017/12/20','2017/12/10','',NULL,'NULL','NULL','{\\\"taipei_digi_data\\\":{\\\"LICSNO\\\":\\\"RBD-3200\\\",\\\"FRAN\\\":\\\"L\\\",\\\"CARNM\\\":\\\"LS460\\\",\\\"CRCOMPID\\\":\\\"AB\\\",\\\"CRSALR\\\":\\\"AB91006\\\",\\\"CRSALRNM\\\":\\\"**為\\\",\\\"CRMOBILE\\\":\\\"0227825899\\\",\\\"SRCOMPID\\\":\\\"AA\\\",\\\"WHSRVNO\\\":\\\"AA81344\\\",\\\"WHSRVNM\\\":\\\"**賢\\\",\\\"SRMOBILE\\\":\\\"0225081288\\\",\\\"NICKNAME\\\":\\\"Michael/臭貓\\\",\\\"PICURL\\\":\\\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\\\"},\\\"lexus_data\\\":{\\\"USERNM\\\":\\\"******\\\",\\\"ADDR\\\":\\\"高雄市仁*******\\\",\\\"MOBILE\\\":\\\"****  ****\\\",\\\"BIRTHDAY\\\":\\\"\\\",\\\"CARNM\\\":\\\"RX330     \\\",\\\"SFX\\\":\\\"3311        \\\",\\\"REDLDT\\\":\\\"2015/01/01\\\",\\\"FENDAT\\\":\\\"2017/12/20\\\",\\\"UENDAT\\\":\\\"2017/12/10\\\",\\\"NXRPMO\\\":\\\"引擎腳老化\\\",\\\"RTPTDT\\\":\\\"2018/10/24\\\",\\\"RTPTML\\\":\\\"1\\\",\\\"BRKDS\\\":\\\"網路預約;萬公里定保-LINE-LCS預約測試資料\\\"}}',NULL);\":[{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_api_log('https://htsr.hotaimotor.com.tw/LINEAPI_TEST/Service.asmx/LINELCS01_Q01','2018-12-17 10:54:12','2018-12-17 10:54:13','Y','{\\\"jsonstr\\\":\\\"{\\\\\\\"ENCYID\\\\\\\":\\\\\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\\\\\"}\\\"}','{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"USERDATA\\\":[{\\\"USERNM\\\":\\\"******\\\",\\\"ADDR\\\":\\\"高雄市仁*******\\\",\\\"MOBILE\\\":\\\"****  ****\\\",\\\"BIRTHDAY\\\":\\\"\\\",\\\"CARNM\\\":\\\"RX330     \\\",\\\"SFX\\\":\\\"3311        \\\",\\\"REDLDT\\\":\\\"2015/01/01\\\",\\\"FENDAT\\\":\\\"2017/12/20\\\",\\\"UENDAT\\\":\\\"2017/12/10\\\",\\\"NXRPMO\\\":\\\"引擎腳老化\\\",\\\"RTPTDT\\\":\\\"2018/10/24\\\",\\\"RTPTML\\\":\\\"1\\\",\\\"BRKDS\\\":\\\"網路預約;萬公里定保-LINE-LCS預約測試資料\\\"}]}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_select_talk_history('client','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82',null,3);\":[[{\"message_id\":\"c6fa4b1c-5dfb-4317-a435-1ea08e47afff\",\"message_type\":\"text\",\"content\":\"麻煩準備公司大小章，蓋出險用的還有您的印章\",\"time\":\"2018-12-17T02:32:30.456Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013950458,\\\"socket_broadcast\\\":1545013950459,\\\"before_db_log\\\":1545013950461}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"69e81aa3-59d6-4371-b5d3-41848c05f0b1\",\"message_type\":\"text\",\"content\":\"祝您許的願望都能實現，生日快樂！\",\"time\":\"2018-12-17T02:32:14.664Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013934665,\\\"socket_broadcast\\\":1545013934666,\\\"before_db_log\\\":1545013934668}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"9946b199-cac8-40bb-9745-d8df679bff2b\",\"message_type\":\"text\",\"content\":\"為您預約維修: \\n日期:2018/12/19\\n時段:08:30\\n服務廠:A-52\",\"time\":\"2018-12-17T02:31:57.980Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013917982,\\\"socket_broadcast\\\":1545013917982,\\\"before_db_log\\\":1545013917985}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_talk_history('client','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82',3,10);\":[[{\"message_id\":\"9c4d61a7-9a44-44b2-ae33-1ee954822536\",\"message_type\":\"text\",\"content\":\"您在哪裡呢？可以的話過去幫您處理\",\"time\":\"2018-12-17T02:31:46.177Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013906178,\\\"socket_broadcast\\\":1545013906179,\\\"before_db_log\\\":1545013906182}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"767fa1ff-9fe5-4e0c-b781-25c9d7414f5c\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T02:31:30.957Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013890958,\\\"assistant_call\\\":1545013890959,\\\"assistant_return\\\":1545013890960,\\\"mysql_call\\\":1545013890960,\\\"mysql_return\\\":1545013890962,\\\"socket_broadcast\\\":1545013890962,\\\"before_db_log\\\":1545013890971}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"c717d526-4581-45bb-8ca2-7d33dbf4a295\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T02:30:37.220Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013837220,\\\"socket_broadcast\\\":1545013837221,\\\"before_db_log\\\":1545013837226}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"435b9299-3989-4024-98e0-9624c3a9c464\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T01:52:01.630Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011521630,\\\"assistant_call\\\":1545011521631,\\\"assistant_return\\\":1545011522853,\\\"mysql_call\\\":1545011522853,\\\"mysql_return\\\":1545011522854,\\\"socket_broadcast\\\":1545011522855,\\\"before_db_log\\\":1545011522860}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"25471131-6c1f-4157-a48f-70bfa362f909\",\"message_type\":\"text\",\"content\":\"嗨\",\"time\":\"2018-12-17T01:51:52.487Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011512488,\\\"socket_broadcast\\\":1545011512489,\\\"before_db_log\\\":1545011512491}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"bfb49a55-e502-4c07-81f4-cf3abb4d3a5f\",\"message_type\":\"text\",\"content\":\"好\",\"time\":\"2018-12-17T01:46:03.903Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011163903,\\\"socket_broadcast\\\":1545011163903,\\\"before_db_log\\\":1545011163906}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"4f73129a-a712-4758-a589-89bd41f91979\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T01:45:48.252Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011148252,\\\"assistant_call\\\":1545011148252,\\\"assistant_return\\\":1545011149019,\\\"mysql_call\\\":1545011149019,\\\"mysql_return\\\":1545011149020,\\\"socket_broadcast\\\":1545011149020,\\\"before_db_log\\\":1545011149025}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"dda898cc-10ed-4ca0-89e8-4713388b2ffd\",\"message_type\":\"text\",\"content\":\"哈囉哈囉\",\"time\":\"2018-12-17T01:45:40.634Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011140635,\\\"socket_broadcast\\\":1545011140635,\\\"before_db_log\\\":1545011140637}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"8a396470-83a3-4f49-b16d-5dcc4a2b6531\",\"message_type\":\"text\",\"content\":\"妳好\",\"time\":\"2018-12-17T01:45:21.787Z\",\"assistant_ans\":\"{\\\"ans_ID\\\":\\\"D0404\\\",\\\"intents\\\":[]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011121787,\\\"assistant_call\\\":1545011121788,\\\"assistant_return\\\":1545011122865,\\\"mysql_call\\\":1545011122865,\\\"mysql_return\\\":1545011122866,\\\"socket_broadcast\\\":1545011122866,\\\"before_db_log\\\":1545011122870}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"850a9c6b-a0ba-43de-a4a8-8e657b655ce7\",\"message_type\":\"text\",\"content\":\"哈囉\",\"time\":\"2018-12-17T01:45:00.868Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011100870,\\\"socket_broadcast\\\":1545011100871,\\\"before_db_log\\\":1545011100873}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_talk_tricks('AA81344','D0404');\":[[],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"SELECT * FROM tb_manager WHERE ht_id='AA81344';\":[{\"manager_id\":\"aee5f6d1-0107-11e9-a727-00090ffe0001\",\"ht_id\":\"AA81344\",\"login\":\"Y\",\"compid\":\"AA\",\"dlrcd\":\"A\",\"brnhcd\":\"53\",\"sectcd\":\"*\",\"manager_type\":\"9\",\"manager_name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\",\"telphone\":\"0225081288\",\"personal_data\":\"{}\",\"personal_data_time\":\"2018-12-17T02:53:51.000Z\",\"memo\":\"\"}],\"call sp_send_message('6277598a-c2a3-4ef8-8a6f-17c8307b40f4','text','妳好','{\\\"ans_ID\\\":\\\"D0404\\\",\\\"intents\\\":[]}','','1545015260185','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015260185,\\\"assistant_call\\\":1545015260186,\\\"assistant_return\\\":1545015261809,\\\"mysql_call\\\":1545015261809,\\\"mysql_return\\\":1545015261936,\\\"socket_broadcast\\\":1545015261936,\\\"before_db_log\\\":1545015261942}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_select_manager_list('AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82');\":[[{\"customer_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\",\"last_talk_time\":\"2018-12-17T02:57:03.000Z\",\"last_message\":\"電瓶壞了\",\"manager_unread\":5,\"notify_data\":\"{}\",\"fend_need_notify\":\"\",\"uend_need_notify\":\"NULL\",\"birth_need_notify\":\"NULL\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_send_message('5389f378-3e50-4353-b6dd-72fade1008ba','text','車子拋錨了','{\\\"intents\\\":[{\\\"intent\\\":\\\"相關客服_顧客服務中心_道路救援\\\",\\\"confidence\\\":0.5895410537719727}]}','','1545015282053','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015282054,\\\"assistant_call\\\":1545015282054,\\\"assistant_return\\\":1545015282809,\\\"socket_broadcast\\\":1545015282809,\\\"before_db_log\\\":1545015282813}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_select_talk_tricks('AA81344','D1085');\":[[{\"dialog_id\":\"D1085\",\"talk_tricks\":\"[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"]\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_send_message('432c19a0-e7be-49b8-8e09-bf97a1de0a04','text','電瓶壞了','{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}','','1545015288935','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015288935,\\\"assistant_call\\\":1545015288936,\\\"assistant_return\\\":1545015289524,\\\"mysql_call\\\":1545015289524,\\\"mysql_return\\\":1545015289526,\\\"socket_broadcast\\\":1545015289526,\\\"before_db_log\\\":1545015289532}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"SELECT * FROM tb_manager WHERE ht_id='5bfcdb61de1c58a7e3ed8c07f4261d82';\":[],\"call sp_send_message('6201e6b8-4a81-4d06-9663-224b1119a31d','text','您在哪裡呢？可以的話過去幫您處理','{}','','1545015298685','service','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82','false','{\\\"socket_receive\\\":1545015298685,\\\"socket_broadcast\\\":1545015298685,\\\"before_db_log\\\":1545015298688}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS02_Q03','2018/12/17 上午10:55:08','2018/12/17 10:55:08','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS02_Q03\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"LICSNO\\\\\\\":\\\\\\\"RBD-3200\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"BOOKDATA\\\":[]}}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS02_Q01','2018/12/17 上午10:55:08','2018/12/17 10:55:08','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS02_Q01\\\\\\\",\\\\\\\"data\\\\\\\":\\\\\\\"{}\\\\\\\",\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"BRNHMF\\\":[{\\\"DLRCD\\\":\\\"A\\\",\\\"BRNHCD\\\":\\\"52\\\",\\\"BRNHNM\\\":\\\"國都汽車 LEXUS新莊廠\\\",\\\"ZIPNM\\\":\\\"新北市\\\",\\\"TEL\\\":\\\"02-29983990\\\",\\\"ADDR\\\":\\\"新北市新莊區中正路70號之2\\\"},{\\\"DLRCD\\\":\\\"A\\\",\\\"BRNHCD\\\":\\\"53\\\",\\\"BRNHNM\\\":\\\"國都汽車 LEXUS濱江廠\\\",\\\"ZIPNM\\\":\\\"台北市\\\",\\\"TEL\\\":\\\"02-25081288\\\",\\\"ADDR\\\":\\\"台北市中山區濱江街233號\\\"},{\\\"DLRCD\\\":\\\"A\\\",\\\"BRNHCD\\\":\\\"54\\\",\\\"BRNHNM\\\":\\\"國都汽車 LEXUS中和廠\\\",\\\"ZIPNM\\\":\\\"新北市\\\",\\\"TEL\\\":\\\"02-82218618\\\",\\\"ADDR\\\":\\\"新北市中和區中山路二段546號\\\"},{\\\"DLRCD\\\":\\\"A\\\",\\\"BRNHCD\\\":\\\"55\\\",\\\"BRNHNM\\\":\\\"國都汽車 LEXUS陽明廠\\\",\\\"ZIPNM\\\":\\\"台北市\\\",\\\"TEL\\\":\\\"02-28958169\\\",\\\"ADDR\\\":\\\"台北市北投區大業路2號\\\"},{\\\"DLRCD\\\":\\\"B\\\",\\\"BRNHCD\\\":\\\"52\\\",\\\"BRNHNM\\\":\\\"北都汽車 LEXUS南港廠\\\",\\\"ZIPNM\\\":\\\"台北市\\\",\\\"TEL\\\":\\\"02-27865588\\\",\\\"ADDR\\\":\\\"台北市南港區南港路三段168號\\\"},{\\\"DLRCD\\\":\\\"B\\\",\\\"BRNHCD\\\":\\\"55\\\",\\\"BRNHNM\\\":\\\"北都汽車 LEXUS新店廠\\\",\\\"ZIPNM\\\":\\\"新北市\\\",\\\"TEL\\\":\\\"-0800090568\\\",\\\"ADDR\\\":\\\"新北市新店區寶橋路233-1號\\\"},{\\\"DLRCD\\\":\\\"B\\\",\\\"BRNHCD\\\":\\\"56\\\",\\\"BRNHNM\\\":\\\"北都汽車 LEXUS內湖廠\\\",\\\"ZIPNM\\\":\\\"台北市\\\",\\\"TEL\\\":\\\"02-26588977\\\",\\\"ADDR\\\":\\\"台北市內湖區瑞光路356號\\\"},{\\\"DLRCD\\\":\\\"C\\\",\\\"BRNHCD\\\":\\\"51\\\",\\\"BRNHNM\\\":\\\"桃苗汽車 LEXUS桃園廠\\\",\\\"ZIPNM\\\":\\\"桃園市\\\",\\\"TEL\\\":\\\"03-3690505\\\",\\\"ADDR\\\":\\\"桃園縣桃園市中山路860號\\\"},{\\\"DLRCD\\\":\\\"C\\\",\\\"BRNHCD\\\":\\\"52\\\",\\\"BRNHNM\\\":\\\"桃苗汽車 LEXUS新竹廠\\\",\\\"ZIPNM\\\":\\\"新竹市\\\",\\\"TEL\\\":\\\"03-5342000\\\",\\\"ADDR\\\":\\\"新竹市東區中華路一段303號\\\"},{\\\"DLRCD\\\":\\\"C\\\",\\\"BRNHCD\\\":\\\"53\\\",\\\"BRNHNM\\\":\\\"桃苗汽車 LEXUS中壢廠\\\",\\\"ZIPNM\\\":\\\"桃園市\\\",\\\"TEL\\\":\\\"03-4625050\\\",\\\"ADDR\\\":\\\"桃園縣中壢市中園路162號\\\"},{\\\"DLRCD\\\":\\\"C\\\",\\\"BRNHCD\\\":\\\"54\\\",\\\"BRNHNM\\\":\\\"桃苗汽車 LEXUS苗栗廠\\\",\\\"ZIPNM\\\":\\\"苗栗縣\\\",\\\"TEL\\\":\\\"037-360030\\\",\\\"ADDR\\\":\\\"苗栗縣苗栗市水源里水源路25-10號\\\"},{\\\"DLRCD\\\":\\\"D\\\",\\\"BRNHCD\\\":\\\"51\\\",\\\"BRNHNM\\\":\\\"中部汽車 LEXUS台中廠\\\",\\\"ZIPNM\\\":\\\"台中市\\\",\\\"TEL\\\":\\\"04-22511367\\\",\\\"ADDR\\\":\\\"台中市西屯區惠來里９鄰市政路21號\\\"},{\\\"DLRCD\\\":\\\"D\\\",\\\"BRNHCD\\\":\\\"52\\\",\\\"BRNHNM\\\":\\\"中部汽車 LEXUS彰化廠\\\",\\\"ZIPNM\\\":\\\"彰化縣\\\",\\\"TEL\\\":\\\"04-7861199\\\",\\\"ADDR\\\":\\\"彰化縣花壇鄉中庄村中山路一段93號\\\"},{\\\"DLRCD\\\":\\\"D\\\",\\\"BRNHCD\\\":\\\"53\\\",\\\"BRNHNM\\\":\\\"中部汽車 LEXUS北台中廠\\\",\\\"ZIPNM\\\":\\\"台中市\\\",\\\"TEL\\\":\\\"04-25324568\\\",\\\"ADDR\\\":\\\"台中市潭子區頭家村中山路一段261號\\\"},{\\\"DLRCD\\\":\\\"D\\\",\\\"BRNHCD\\\":\\\"54\\\",\\\"BRNHNM\\\":\\\"中部汽車 LEXUS南台中廠\\\",\\\"ZIPNM\\\":\\\"台中市\\\",\\\"TEL\\\":\\\"04-24836008\\\",\\\"ADDR\\\":\\\"台中市大里區大元里國光路一段38號\\\"},{\\\"DLRCD\\\":\\\"E\\\",\\\"BRNHCD\\\":\\\"51\\\",\\\"BRNHNM\\\":\\\"南都汽車 LEXUS台南廠\\\",\\\"ZIPNM\\\":\\\"台南市\\\",\\\"TEL\\\":\\\"06-2436977\\\",\\\"ADDR\\\":\\\"台南市永康區中正南路377-1號\\\"},{\\\"DLRCD\\\":\\\"E\\\",\\\"BRNHCD\\\":\\\"52\\\",\\\"BRNHNM\\\":\\\"南都汽車 LEXUS嘉義廠\\\",\\\"ZIPNM\\\":\\\"嘉義縣\\\",\\\"TEL\\\":\\\"05-2132828\\\",\\\"ADDR\\\":\\\"嘉義縣民雄鄉民雄工業區中山路2-2號\\\"},{\\\"DLRCD\\\":\\\"E\\\",\\\"BRNHCD\\\":\\\"53\\\",\\\"BRNHNM\\\"');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS02_Q02','2018/12/17 上午10:55:17','2018/12/17 10:55:17','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS02_Q02\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"DLRCD\\\\\\\":\\\\\\\"A\\\\\\\",\\\\\\\"BRNHCD\\\\\\\":\\\\\\\"52\\\\\\\",\\\\\\\"USERID\\\\\\\":\\\\\\\"AA81344\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"AVITIME\\\":[{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"14:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"15:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"15:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"14:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"15:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"15:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"14:30');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS02_Q02','2018/12/17 上午10:55:20','2018/12/17 10:55:21','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS02_Q02\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"DLRCD\\\\\\\":\\\\\\\"A\\\\\\\",\\\\\\\"BRNHCD\\\\\\\":\\\\\\\"52\\\\\\\",\\\\\\\"USERID\\\\\\\":\\\\\\\"AA81344\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"AVITIME\\\":[{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"14:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"15:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/19\\\",\\\"WEEK_DAY\\\":3,\\\"TIME_SET\\\":\\\"15:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"14:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"15:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/20\\\",\\\"WEEK_DAY\\\":4,\\\"TIME_SET\\\":\\\"15:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"08:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"09:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"09:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"10:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"10:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"11:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"13:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"13:30\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"14:00\\\"},{\\\"ORDERDT\\\":\\\"2018/12/21\\\",\\\"WEEK_DAY\\\":5,\\\"TIME_SET\\\":\\\"14:30');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS02_I01','2018/12/17 上午10:55:26','2018/12/17 10:55:26','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS02_I01\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"LICSNO\\\\\\\":\\\\\\\"RBD-3200\\\\\\\",\\\\\\\"DLRCD\\\\\\\":\\\\\\\"A\\\\\\\",\\\\\\\"BRNHCD\\\\\\\":\\\\\\\"52\\\\\\\",\\\\\\\"BKDT\\\\\\\":\\\\\\\"2018-12-19\\\\\\\",\\\\\\\"USRID\\\\\\\":\\\\\\\"AA81344\\\\\\\",\\\\\\\"BKSSEC\\\\\\\":\\\\\\\"15:00\\\\\\\",\\\\\\\"OPTP\\\\\\\":\\\\\\\"1\\\\\\\",\\\\\\\"RTPTML\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"CONTPSN\\\\\\\":\\\\\\\"Michael/臭貓\\\\\\\",\\\\\\\"CONTTEL\\\\\\\":\\\\\\\"0984311726\\\\\\\",\\\\\\\"CALLOUTSEC\\\\\\\":\\\\\\\"4\\\\\\\",\\\\\\\"REMARK\\\\\\\":\\\\\\\" \\\\\\\",\\\\\\\"CRTPGID\\\\\\\":\\\\\\\"LINELCS02\\\\\\\",\\\\\\\"GVTYPE\\\\\\\":\\\\\\\"A\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\"}}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_send_message('9b889bde-e304-41f0-ace8-a8ea92752d11','text','為您預約維修: \\n日期:2018/12/19\\n時段:15:00\\n服務廠:A-52','{}','','1545015326666','service','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82','false','{\\\"socket_receive\\\":1545015326667,\\\"socket_broadcast\\\":1545015326667,\\\"before_db_log\\\":1545015326670}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS01_Q01','2018/12/17 上午10:55:28','2018/12/17 10:55:28','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS01_Q01\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"ENCYID\\\\\\\":\\\\\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"USERDATA\\\":[{\\\"USERNM\\\":\\\"******\\\",\\\"ADDR\\\":\\\"高雄市仁*******\\\",\\\"MOBILE\\\":\\\"****  ****\\\",\\\"BIRTHDAY\\\":\\\"\\\",\\\"CARNM\\\":\\\"RX330     \\\",\\\"SFX\\\":\\\"3311        \\\",\\\"REDLDT\\\":\\\"2015/01/01\\\",\\\"FENDAT\\\":\\\"2017/12/20\\\",\\\"UENDAT\\\":\\\"2017/12/10\\\",\\\"NXRPMO\\\":\\\"引擎腳老化\\\",\\\"RTPTDT\\\":\\\"2018/10/24\\\",\\\"RTPTML\\\":\\\"1\\\",\\\"BRKDS\\\":\\\"網路預約;萬公里定保-LINE-LCS預約測試資料\\\"}]}}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_update_talk_tricks('AA81344','dialog','NORMAL_BIRTH','[\\\"祝您生日快樂!事事順心~準備小禮物要送給您\\\",\\\"祝您許的願望都能實現，生日快樂！哈哈哈ㄎㄎㄎ\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\",\\\"祝您許的願望都能實現，生日快樂！\\\"]');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_update_talk_tricks('AA81344','dialog','NORMAL_FEN','[\\\"保險即將到期，麻煩您安排時間完成續保事宜\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\",\\\"提醒您愛車保險要到期囉，去年保單給您參考！\\\"]');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_update_talk_tricks('AA81344','dialog','NORMAL_HOTAI','[\\\"Hi 您的愛車保養週期到了，需要幫您預約？\\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\",\\\"提醒您明天要入廠保養車喔 \\\"]');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_update_talk_tricks('AA81344','dialog','NORMAL_OTHER','[\\\"順便幫我帶您的木頭印章來取車\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\",\\\"麻煩準備公司大小章，蓋出險用的還有您的印章\\\"]');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_send_message('b19ac518-9f19-4fd2-97ca-1bb3f30e291b','text','祝您許的願望都能實現，生日快樂！哈哈哈ㄎㄎㄎ','{}','','1545015352424','service','AA81344','5bfcdb61de1c58a7e3ed8c07f4261d82','false','{\\\"socket_receive\\\":1545015352425,\\\"socket_broadcast\\\":1545015352425,\\\"before_db_log\\\":1545015352428}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINE001_Q01','2018/12/17 上午10:56:28','2018/12/17 10:56:28','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINE001_Q01\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"LICSNO\\\\\\\":\\\\\\\"RBD-3200\\\\\\\",\\\\\\\"ENCYID\\\\\\\":\\\\\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\\\\\",\\\\\\\"HALFCUSTID\\\\\\\":\\\\\\\"76446\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"PASSFLAG\\\":\\\"Y\\\"}}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_api_log('HT_API_URL/LINELCS03_Q01','2018/12/17 上午10:56:29','2018/12/17 10:56:29','Y','\\\"{\\\\\\\"api\\\\\\\":\\\\\\\"LINELCS03_Q01\\\\\\\",\\\\\\\"data\\\\\\\":{\\\\\\\"ENCYID\\\\\\\":\\\\\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\\\\\"},\\\\\\\"detail\\\\\\\":true}\\\"','{\\\"isSuccess\\\":true,\\\"result\\\":{\\\"rtnCode\\\":\\\"0\\\",\\\"rtnMsg\\\":\\\"\\\",\\\"result\\\":2,\\\"ISINFO\\\":[{\\\"FENDAT\\\":\\\"2017/12/20\\\",\\\"UENDAT\\\":\\\"2017/12/10\\\"}],\\\"LSFXINFO\\\":[]}}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_select_talk_tricks('AA81344','D0000');\":[[],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_send_message('1382e9ce-84f3-4329-ba7b-8b61de5dd32c','text','123','{\\\"ans_ID\\\":\\\"D0000\\\",\\\"intents\\\":[]}','','1545015410677','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015410677,\\\"assistant_call\\\":1545015410677,\\\"assistant_return\\\":1545015411452,\\\"mysql_call\\\":1545015411452,\\\"mysql_return\\\":1545015411454,\\\"socket_broadcast\\\":1545015411454,\\\"before_db_log\\\":1545015411459}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_select_talk_tricks('AA81344','D5101');\":[[{\"dialog_id\":\"D5101\",\"talk_tricks\":\"[\\\"妳好\\\"]\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_send_message('b13fbd96-42f7-4f8d-bb85-001cf2acd8f7','text','哈囉','{\\\"talk_tricks\\\":[\\\"妳好\\\"],\\\"ans_ID\\\":\\\"D5101\\\",\\\"intents\\\":[]}','','1545015412279','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015412280,\\\"assistant_call\\\":1545015412280,\\\"assistant_return\\\":1545015413043,\\\"mysql_call\\\":1545015413044,\\\"mysql_return\\\":1545015413069,\\\"socket_broadcast\\\":1545015413069,\\\"before_db_log\\\":1545015413074}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_send_message('096c2f36-fdd1-4e22-a17f-e4373758a889','text','你好','{\\\"talk_tricks\\\":[\\\"妳好\\\"],\\\"ans_ID\\\":\\\"D5101\\\",\\\"intents\\\":[]}','','1545015414850','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015414851,\\\"assistant_call\\\":1545015414852,\\\"assistant_return\\\":1545015415614,\\\"mysql_call\\\":1545015415614,\\\"mysql_return\\\":1545015415616,\\\"socket_broadcast\\\":1545015415616,\\\"before_db_log\\\":1545015415622}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_send_message('76a151df-8c35-4645-908b-ae8584f32e9a','text','我生病了','{\\\"ans_ID\\\":\\\"D0404\\\",\\\"intents\\\":[]}','','1545015420016','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015420018,\\\"assistant_call\\\":1545015420018,\\\"assistant_return\\\":1545015420725,\\\"mysql_call\\\":1545015420725,\\\"mysql_return\\\":1545015420728,\\\"socket_broadcast\\\":1545015420728,\\\"before_db_log\\\":1545015420735}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"call sp_send_message('57bb1752-3fe9-4661-81cd-928590a10f59','text','電瓶壞了','{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}','','1545015423090','client','5bfcdb61de1c58a7e3ed8c07f4261d82','AA81344','false','{\\\"socket_receive\\\":1545015423091,\\\"assistant_call\\\":1545015423091,\\\"assistant_return\\\":1545015423922,\\\"mysql_call\\\":1545015423922,\\\"mysql_return\\\":1545015423924,\\\"socket_broadcast\\\":1545015423924,\\\"before_db_log\\\":1545015423929}');\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}};\n}\n\nfunction get_mysql_dict2(){\n    return {\"call sp_select_talk_tricks\":[[{\"dialog_id\":\"D1085\",\"talk_tricks\":\"[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"]\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"_msgid\":\"24c46aef.c41b06\",\"SELECT 1; call sp_update_manager\":[[{\"1\":1}],{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_manager_list\":[[{\"customer_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"conversation_title\":\"LS460 | RBD-3200\",\"customer_nickname\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\",\"last_talk_time\":\"2018-12-17T02:57:03.000Z\",\"last_message\":\"電瓶壞了\",\"manager_unread\":5,\"notify_data\":\"{}\",\"fend_need_notify\":\"\",\"uend_need_notify\":\"NULL\",\"birth_need_notify\":\"NULL\",\"fend_notify\":\"Y\",\"uend_notify\":\"Y\",\"birth_notify\":\"Y\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_conversation_info\":[[{\"manager_data\":\"{\\\"end_point\\\":\\\"service\\\",\\\"id\\\":\\\"AA81344\\\",\\\"name\\\":\\\"**賢\\\",\\\"type\\\":\\\"9\\\",\\\"avator\\\":\\\"https://lexus-cs.herokuapp.com/images/cs_icon.png\\\",\\\"PHONE\\\":\\\"0225081288\\\"}\",\"customer_data\":\"{\\\"end_point\\\":\\\"client\\\",\\\"id\\\":\\\"5bfcdb61de1c58a7e3ed8c07f4261d82\\\",\\\"name\\\":\\\"Michael/臭貓\\\",\\\"vehicle_type\\\":\\\"LS460\\\",\\\"vehicle_number\\\":\\\"RBD-3200\\\",\\\"avator\\\":\\\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\\\",\\\"PHONE\\\":\\\"****  ****\\\"}\",\"unread\":\"0\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_select_talk_history\":[[{\"message_id\":\"9c4d61a7-9a44-44b2-ae33-1ee954822536\",\"message_type\":\"text\",\"content\":\"您在哪裡呢？可以的話過去幫您處理\",\"time\":\"2018-12-17T02:31:46.177Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013906178,\\\"socket_broadcast\\\":1545013906179,\\\"before_db_log\\\":1545013906182}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"767fa1ff-9fe5-4e0c-b781-25c9d7414f5c\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T02:31:30.957Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013890958,\\\"assistant_call\\\":1545013890959,\\\"assistant_return\\\":1545013890960,\\\"mysql_call\\\":1545013890960,\\\"mysql_return\\\":1545013890962,\\\"socket_broadcast\\\":1545013890962,\\\"before_db_log\\\":1545013890971}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"c717d526-4581-45bb-8ca2-7d33dbf4a295\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T02:30:37.220Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545013837220,\\\"socket_broadcast\\\":1545013837221,\\\"before_db_log\\\":1545013837226}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"435b9299-3989-4024-98e0-9624c3a9c464\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T01:52:01.630Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011521630,\\\"assistant_call\\\":1545011521631,\\\"assistant_return\\\":1545011522853,\\\"mysql_call\\\":1545011522853,\\\"mysql_return\\\":1545011522854,\\\"socket_broadcast\\\":1545011522855,\\\"before_db_log\\\":1545011522860}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"25471131-6c1f-4157-a48f-70bfa362f909\",\"message_type\":\"text\",\"content\":\"嗨\",\"time\":\"2018-12-17T01:51:52.487Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011512488,\\\"socket_broadcast\\\":1545011512489,\\\"before_db_log\\\":1545011512491}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"bfb49a55-e502-4c07-81f4-cf3abb4d3a5f\",\"message_type\":\"text\",\"content\":\"好\",\"time\":\"2018-12-17T01:46:03.903Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011163903,\\\"socket_broadcast\\\":1545011163903,\\\"before_db_log\\\":1545011163906}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"4f73129a-a712-4758-a589-89bd41f91979\",\"message_type\":\"text\",\"content\":\"電瓶壞了\",\"time\":\"2018-12-17T01:45:48.252Z\",\"assistant_ans\":\"{\\\"talk_tricks\\\":[\\\"您在哪裡呢？可以的話過去幫您處理\\\",\\\"可以撥打0800-091-091與LEXUS道路救援聯繫\\\"],\\\"ans_ID\\\":\\\"D1085\\\",\\\"intents\\\":[{\\\"intent\\\":\\\"故障詢問_電瓶電量沒電發不動\\\",\\\"confidence\\\":1}]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011148252,\\\"assistant_call\\\":1545011148252,\\\"assistant_return\\\":1545011149019,\\\"mysql_call\\\":1545011149019,\\\"mysql_return\\\":1545011149020,\\\"socket_broadcast\\\":1545011149020,\\\"before_db_log\\\":1545011149025}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"dda898cc-10ed-4ca0-89e8-4713388b2ffd\",\"message_type\":\"text\",\"content\":\"哈囉哈囉\",\"time\":\"2018-12-17T01:45:40.634Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011140635,\\\"socket_broadcast\\\":1545011140635,\\\"before_db_log\\\":1545011140637}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"},{\"message_id\":\"8a396470-83a3-4f49-b16d-5dcc4a2b6531\",\"message_type\":\"text\",\"content\":\"妳好\",\"time\":\"2018-12-17T01:45:21.787Z\",\"assistant_ans\":\"{\\\"ans_ID\\\":\\\"D0404\\\",\\\"intents\\\":[]}\",\"visualrecog_ans\":\"\",\"direction_type\":\"client\",\"from\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"to\":\"AA81344\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011121787,\\\"assistant_call\\\":1545011121788,\\\"assistant_return\\\":1545011122865,\\\"mysql_call\\\":1545011122865,\\\"mysql_return\\\":1545011122866,\\\"socket_broadcast\\\":1545011122866,\\\"before_db_log\\\":1545011122870}\",\"ht_id\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"name\":\"Michael/臭貓\",\"avator\":\"https://profile.line-scdn.net/0hOtoGBSqPEFtSPjw9-o9vDG57HjYlEBYTKgtdaic8Sml7CAJZbltZNHY3Hj98CFBabltaNCQ_G2It\"},{\"message_id\":\"850a9c6b-a0ba-43de-a4a8-8e657b655ce7\",\"message_type\":\"text\",\"content\":\"哈囉\",\"time\":\"2018-12-17T01:45:00.868Z\",\"assistant_ans\":\"{}\",\"visualrecog_ans\":\"\",\"direction_type\":\"service\",\"from\":\"AA81344\",\"to\":\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\"push\":\"false\",\"time_record\":\"{\\\"socket_receive\\\":1545011100870,\\\"socket_broadcast\\\":1545011100871,\\\"before_db_log\\\":1545011100873}\",\"ht_id\":\"AA81344\",\"name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\"}],{\"fieldCount\":0,\"affectedRows\":0,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_api_log\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":2,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"UPDATE tb_customer SET login='Y' WHERE ht_id='5bfcdb61de1c58a7e3ed8c07f4261d82';call sp_edit_manager\":[{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"(Rows matched: 1  Changed: 1  Warnings: 0\",\"protocol41\":true,\"changedRows\":1},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"call sp_bind_client\":[{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":42,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}],\"SELECT * FROM tb_manager WHERE ht_id='AA81344';\":[{\"manager_id\":\"aee5f6d1-0107-11e9-a727-00090ffe0001\",\"ht_id\":\"AA81344\",\"login\":\"Y\",\"compid\":\"AA\",\"dlrcd\":\"A\",\"brnhcd\":\"53\",\"sectcd\":\"*\",\"manager_type\":\"9\",\"manager_name\":\"**賢\",\"avator\":\"https://lexus-cs.herokuapp.com/images/cs_icon.png\",\"telphone\":\"0225081288\",\"personal_data\":\"{}\",\"personal_data_time\":\"2018-12-17T02:53:51.000Z\",\"memo\":\"\"}],\"call sp_send_message\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0},\"SELECT * FROM tb_manager WHERE ht_id='5bfcdb61de1c58a7e3ed8c07f4261d82';\":[],\"call sp_update_talk_tricks\":{\"fieldCount\":0,\"affectedRows\":1,\"insertId\":0,\"serverStatus\":34,\"warningCount\":0,\"message\":\"\",\"protocol41\":true,\"changedRows\":0}};\n}\n","outputs":1,"noerr":0,"x":860,"y":1840,"wires":[["86796521.0e6c18"]]},{"id":"ad23acd.211925","type":"debug","z":"8b516464.29c998","name":"FOR TY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":2120,"wires":[]},{"id":"39412811.f3c37","type":"mysql","z":"8b516464.29c998","mydb":"c6c45564.488268","name":"","x":850,"y":1920,"wires":[["86796521.0e6c18","f80c5f8e.071008","b6fd3625.a715c8"]]},{"id":"da313d96.6de17","type":"socketio-config","z":"","port":"8082","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"aef2f1dd.60759","type":"mqtt-broker","z":"","name":"","broker":"192.168.112.166","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6c45564.488268","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"db_lexus_cs","tz":""}]